<?php
/**
 * ACPCheckoutApi
 * PHP version 5
 *
 * @category Class
 * @package  CyberSource
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * CyberSource Merged Spec
 *
 * All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
 *
 * OpenAPI spec version: 0.0.1
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */
/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace CyberSource\Api;

use \CyberSource\ApiClient;
use \CyberSource\ApiException;
use \CyberSource\Configuration;
use \CyberSource\ObjectSerializer;
use \CyberSource\Logging\LogFactory as LogFactory;
use \CyberSource\Authentication\Util\MLEUtility;
use \CyberSource\Utilities\MultipartHelpers\MultipartHelper;
use \Exception;

/**
 * ACPCheckoutApi Class Doc Comment
 *
 * @category Class
 * @package  CyberSource
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class ACPCheckoutApi
{
    private static $logger = null;
    
    /**
     * API Client
     *
     * @var \CyberSource\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \CyberSource\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\CyberSource\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;

        if (self::$logger === null) {
            self::$logger = (new LogFactory())->getLogger(\CyberSource\Utilities\Helpers\ClassHelper::getClassName(get_class($this)), $apiClient->merchantConfig->getLogConfiguration());
        }
    }

    /**
     * Get API client
     *
     * @return \CyberSource\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \CyberSource\ApiClient $apiClient set the API client
     *
     * @return ACPCheckoutApi
     */
    public function setApiClient(\CyberSource\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation cancelCheckout
     *
     * Cancel Checkout ACP
     *
     * @param string $sessionId The unique identifier of the ACP checkout session to cancel. Obtained from the &#x60;id&#x60; field in the Create Session response. (required)
     * @param string $idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned. (optional)
     * @param string $acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content. (optional)
     * @param string $userAgent Client user agent string identifying the AI agent platform and version. (optional)
     * @param string $requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers. (optional)
     * @param string $signature Request signature for payload integrity verification. (optional)
     * @param string $timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection. (optional)
     * @param string $aPIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed. (optional)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\InlineResponse20018, HTTP status code, HTTP response headers (array of strings)
     */
    public function cancelCheckout($sessionId, $idempotencyKey = null, $acceptLanguage = null, $userAgent = null, $requestId = null, $signature = null, $timestamp = null, $aPIVersion = null)
    {
        self::$logger->info('CALL TO METHOD cancelCheckout STARTED');
        list($response, $statusCode, $httpHeader) = $this->cancelCheckoutWithHttpInfo($sessionId, $idempotencyKey, $acceptLanguage, $userAgent, $requestId, $signature, $timestamp, $aPIVersion);
        self::$logger->info('CALL TO METHOD cancelCheckout ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }

    /**
     * Operation cancelCheckoutWithHttpInfo
     *
     * Cancel Checkout ACP
     *
     * @param string $sessionId The unique identifier of the ACP checkout session to cancel. Obtained from the &#x60;id&#x60; field in the Create Session response. (required)
     * @param string $idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned. (optional)
     * @param string $acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content. (optional)
     * @param string $userAgent Client user agent string identifying the AI agent platform and version. (optional)
     * @param string $requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers. (optional)
     * @param string $signature Request signature for payload integrity verification. (optional)
     * @param string $timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection. (optional)
     * @param string $aPIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed. (optional)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\InlineResponse20018, HTTP status code, HTTP response headers (array of strings)
     */
    public function cancelCheckoutWithHttpInfo($sessionId, $idempotencyKey = null, $acceptLanguage = null, $userAgent = null, $requestId = null, $signature = null, $timestamp = null, $aPIVersion = null)
    {
        // verify the required parameter 'sessionId' is set
        if ($sessionId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $sessionId when calling cancelCheckout");
            throw new \InvalidArgumentException('Missing the required parameter $sessionId when calling cancelCheckout');
        }
        // parse inputs
        $resourcePath = "/icc/v1/checkout_sessions/{session_id}/cancel";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/hal+json;charset=utf-8']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);

        // header params
        if ($idempotencyKey !== null) {
            $headerParams['Idempotency-Key'] = $this->apiClient->getSerializer()->toHeaderValue($idempotencyKey);
        }
        // header params
        if ($acceptLanguage !== null) {
            $headerParams['Accept-Language'] = $this->apiClient->getSerializer()->toHeaderValue($acceptLanguage);
        }
        // header params
        if ($userAgent !== null) {
            $headerParams['User-Agent'] = $this->apiClient->getSerializer()->toHeaderValue($userAgent);
        }
        // header params
        if ($requestId !== null) {
            $headerParams['Request-Id'] = $this->apiClient->getSerializer()->toHeaderValue($requestId);
        }
        // header params
        if ($signature !== null) {
            $headerParams['Signature'] = $this->apiClient->getSerializer()->toHeaderValue($signature);
        }
        // header params
        if ($timestamp !== null) {
            $headerParams['Timestamp'] = $this->apiClient->getSerializer()->toHeaderValue($timestamp);
        }
        // header params
        if ($aPIVersion !== null) {
            $headerParams['API-Version'] = $this->apiClient->getSerializer()->toHeaderValue($aPIVersion);
        }
        // path params
        if ($sessionId !== null) {
            $resourcePath = str_replace(
                "{" . "session_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($sessionId),
                $resourcePath
            );
        }
        if ('POST' == 'POST') {
            $_tempBody = '{}';
        }

        // for model (json/xml)
        if (isset($_tempBody) and count($formParams) <= 0) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = MultipartHelper::build_data_files($boundary, $formParams); // for HTTP post (form)
        }

        //MLE check and mle encryption for req body
        $inboundMLEStatus = 'mandatory';
        if (MLEUtility::checkIsMLEForAPI($this->apiClient->merchantConfig, $inboundMLEStatus, "cancelCheckout,cancelCheckoutWithHttpInfo")) {
            try {
                $httpBody = MLEUtility::encryptRequestPayload($this->apiClient->merchantConfig, $httpBody);
            } catch (Exception $e) {
                self::$logger->error("Failed to encrypt request body:  $e");
                throw new ApiException("Failed to encrypt request body : " . $e->getMessage());
            }
        }

        
        // Logging
        self::$logger->debug("Resource : POST $resourcePath");
        if (isset($httpBody) and count($formParams) <= 0) {
            if ($this->apiClient->merchantConfig->getLogConfiguration()->isMaskingEnabled()) {
                $printHttpBody = \CyberSource\Utilities\Helpers\DataMasker::maskData($httpBody);
            } else {
                $printHttpBody = $httpBody;
            }
            
            self::$logger->debug("Body Parameter :\n" . $printHttpBody); 
        }

        self::$logger->debug("Return Type : \CyberSource\Model\InlineResponse20018");
        
        // Response MLE check
        $isResponseMLEForAPI = MLEUtility::checkIsResponseMLEForAPI($this->apiClient->merchantConfig, "cancelCheckout,cancelCheckoutWithHttpInfo");
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CyberSource\Model\InlineResponse20018',
                '/icc/v1/checkout_sessions/{session_id}/cancel',
                $isResponseMLEForAPI
            );
            
            self::$logger->debug("Response Headers :\n" . \CyberSource\Utilities\Helpers\ListHelper::toString($httpHeader));

            return [$this->apiClient->getSerializer()->deserialize($response, '\CyberSource\Model\InlineResponse20018', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse20018', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse40016', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse40016', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            self::$logger->error("ApiException : $e");
            throw $e;
        }
    }

    /**
     * Operation completeCheckout
     *
     * Complete Checkout ACP
     *
     * @param string $sessionId The unique identifier of the ACP checkout session to complete. (required)
     * @param \CyberSource\Model\AcpCompleteCheckoutRequest $acpCompleteCheckoutRequest Final buyer and payment details needed to place the order. Both &#x60;buyer&#x60; and &#x60;payment&#x60; may have been provided in earlier Create/Update calls; if so, they can be omitted here. At least a valid payment token is required to process the transaction. (required)
     * @param string $idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned. (optional)
     * @param string $acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content. (optional)
     * @param string $userAgent Client user agent string identifying the AI agent platform and version. (optional)
     * @param string $requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers. (optional)
     * @param string $signature Request signature for payload integrity verification. (optional)
     * @param string $timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection. (optional)
     * @param string $aPIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed. (optional)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\InlineResponse20017, HTTP status code, HTTP response headers (array of strings)
     */
    public function completeCheckout($sessionId, $acpCompleteCheckoutRequest, $idempotencyKey = null, $acceptLanguage = null, $userAgent = null, $requestId = null, $signature = null, $timestamp = null, $aPIVersion = null)
    {
        self::$logger->info('CALL TO METHOD completeCheckout STARTED');
        list($response, $statusCode, $httpHeader) = $this->completeCheckoutWithHttpInfo($sessionId, $acpCompleteCheckoutRequest, $idempotencyKey, $acceptLanguage, $userAgent, $requestId, $signature, $timestamp, $aPIVersion);
        self::$logger->info('CALL TO METHOD completeCheckout ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }

    /**
     * Operation completeCheckoutWithHttpInfo
     *
     * Complete Checkout ACP
     *
     * @param string $sessionId The unique identifier of the ACP checkout session to complete. (required)
     * @param \CyberSource\Model\AcpCompleteCheckoutRequest $acpCompleteCheckoutRequest Final buyer and payment details needed to place the order. Both &#x60;buyer&#x60; and &#x60;payment&#x60; may have been provided in earlier Create/Update calls; if so, they can be omitted here. At least a valid payment token is required to process the transaction. (required)
     * @param string $idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned. (optional)
     * @param string $acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content. (optional)
     * @param string $userAgent Client user agent string identifying the AI agent platform and version. (optional)
     * @param string $requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers. (optional)
     * @param string $signature Request signature for payload integrity verification. (optional)
     * @param string $timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection. (optional)
     * @param string $aPIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed. (optional)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\InlineResponse20017, HTTP status code, HTTP response headers (array of strings)
     */
    public function completeCheckoutWithHttpInfo($sessionId, $acpCompleteCheckoutRequest, $idempotencyKey = null, $acceptLanguage = null, $userAgent = null, $requestId = null, $signature = null, $timestamp = null, $aPIVersion = null)
    {
        // verify the required parameter 'sessionId' is set
        if ($sessionId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $sessionId when calling completeCheckout");
            throw new \InvalidArgumentException('Missing the required parameter $sessionId when calling completeCheckout');
        }
        // verify the required parameter 'acpCompleteCheckoutRequest' is set
        if ($acpCompleteCheckoutRequest === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $acpCompleteCheckoutRequest when calling completeCheckout");
            throw new \InvalidArgumentException('Missing the required parameter $acpCompleteCheckoutRequest when calling completeCheckout');
        }
        // parse inputs
        $resourcePath = "/icc/v1/checkout_sessions/{session_id}/complete";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/hal+json;charset=utf-8']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);

        // header params
        if ($idempotencyKey !== null) {
            $headerParams['Idempotency-Key'] = $this->apiClient->getSerializer()->toHeaderValue($idempotencyKey);
        }
        // header params
        if ($acceptLanguage !== null) {
            $headerParams['Accept-Language'] = $this->apiClient->getSerializer()->toHeaderValue($acceptLanguage);
        }
        // header params
        if ($userAgent !== null) {
            $headerParams['User-Agent'] = $this->apiClient->getSerializer()->toHeaderValue($userAgent);
        }
        // header params
        if ($requestId !== null) {
            $headerParams['Request-Id'] = $this->apiClient->getSerializer()->toHeaderValue($requestId);
        }
        // header params
        if ($signature !== null) {
            $headerParams['Signature'] = $this->apiClient->getSerializer()->toHeaderValue($signature);
        }
        // header params
        if ($timestamp !== null) {
            $headerParams['Timestamp'] = $this->apiClient->getSerializer()->toHeaderValue($timestamp);
        }
        // header params
        if ($aPIVersion !== null) {
            $headerParams['API-Version'] = $this->apiClient->getSerializer()->toHeaderValue($aPIVersion);
        }
        // path params
        if ($sessionId !== null) {
            $resourcePath = str_replace(
                "{" . "session_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($sessionId),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($acpCompleteCheckoutRequest)) {
            $_tempBody = $acpCompleteCheckoutRequest;
        }
        
        $sdkTracker = new \CyberSource\Utilities\Tracking\SdkTracker();
        $modelClassLocation = explode('\\', '\CyberSource\Model\AcpCompleteCheckoutRequest');

        $_tempBody = $sdkTracker->insertDeveloperIdTracker($_tempBody, end($modelClassLocation), $this->apiClient->merchantConfig->getRunEnvironment(), $this->apiClient->merchantConfig->getDefaultDeveloperId());

        // for model (json/xml)
        if (isset($_tempBody) and count($formParams) <= 0) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = MultipartHelper::build_data_files($boundary, $formParams); // for HTTP post (form)
        }

        //MLE check and mle encryption for req body
        $inboundMLEStatus = 'mandatory';
        if (MLEUtility::checkIsMLEForAPI($this->apiClient->merchantConfig, $inboundMLEStatus, "completeCheckout,completeCheckoutWithHttpInfo")) {
            try {
                $httpBody = MLEUtility::encryptRequestPayload($this->apiClient->merchantConfig, $httpBody);
            } catch (Exception $e) {
                self::$logger->error("Failed to encrypt request body:  $e");
                throw new ApiException("Failed to encrypt request body : " . $e->getMessage());
            }
        }

        
        // Logging
        self::$logger->debug("Resource : POST $resourcePath");
        if (isset($httpBody) and count($formParams) <= 0) {
            if ($this->apiClient->merchantConfig->getLogConfiguration()->isMaskingEnabled()) {
                $printHttpBody = \CyberSource\Utilities\Helpers\DataMasker::maskData($httpBody);
            } else {
                $printHttpBody = $httpBody;
            }
            
            self::$logger->debug("Body Parameter :\n" . $printHttpBody); 
        }

        self::$logger->debug("Return Type : \CyberSource\Model\InlineResponse20017");
        
        // Response MLE check
        $isResponseMLEForAPI = MLEUtility::checkIsResponseMLEForAPI($this->apiClient->merchantConfig, "completeCheckout,completeCheckoutWithHttpInfo");
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CyberSource\Model\InlineResponse20017',
                '/icc/v1/checkout_sessions/{session_id}/complete',
                $isResponseMLEForAPI
            );
            
            self::$logger->debug("Response Headers :\n" . \CyberSource\Utilities\Helpers\ListHelper::toString($httpHeader));

            return [$this->apiClient->getSerializer()->deserialize($response, '\CyberSource\Model\InlineResponse20017', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse20017', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse40016', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse40016', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse40016', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            self::$logger->error("ApiException : $e");
            throw $e;
        }
    }

    /**
     * Operation createCheckoutSession
     *
     * Create Checkout Session ACP
     *
     * @param \CyberSource\Model\AcpCreateCheckoutSessionRequest $acpCreateCheckoutSessionRequest The cart contents and buyer context for this checkout session. &#x60;items&#x60; is required. &#x60;buyer&#x60; and &#x60;fulfillment_address&#x60; are optional on creation and can be provided via Update Session before completing checkout. (required)
     * @param string $idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned. (optional)
     * @param string $acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content. (optional)
     * @param string $userAgent Client user agent string identifying the AI agent platform and version. (optional)
     * @param string $requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers. (optional)
     * @param string $signature Request signature for payload integrity verification. (optional)
     * @param string $timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection. (optional)
     * @param string $aPIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed. (optional)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\InlineResponse20112, HTTP status code, HTTP response headers (array of strings)
     */
    public function createCheckoutSession($acpCreateCheckoutSessionRequest, $idempotencyKey = null, $acceptLanguage = null, $userAgent = null, $requestId = null, $signature = null, $timestamp = null, $aPIVersion = null)
    {
        self::$logger->info('CALL TO METHOD createCheckoutSession STARTED');
        list($response, $statusCode, $httpHeader) = $this->createCheckoutSessionWithHttpInfo($acpCreateCheckoutSessionRequest, $idempotencyKey, $acceptLanguage, $userAgent, $requestId, $signature, $timestamp, $aPIVersion);
        self::$logger->info('CALL TO METHOD createCheckoutSession ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }

    /**
     * Operation createCheckoutSessionWithHttpInfo
     *
     * Create Checkout Session ACP
     *
     * @param \CyberSource\Model\AcpCreateCheckoutSessionRequest $acpCreateCheckoutSessionRequest The cart contents and buyer context for this checkout session. &#x60;items&#x60; is required. &#x60;buyer&#x60; and &#x60;fulfillment_address&#x60; are optional on creation and can be provided via Update Session before completing checkout. (required)
     * @param string $idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned. (optional)
     * @param string $acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content. (optional)
     * @param string $userAgent Client user agent string identifying the AI agent platform and version. (optional)
     * @param string $requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers. (optional)
     * @param string $signature Request signature for payload integrity verification. (optional)
     * @param string $timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection. (optional)
     * @param string $aPIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed. (optional)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\InlineResponse20112, HTTP status code, HTTP response headers (array of strings)
     */
    public function createCheckoutSessionWithHttpInfo($acpCreateCheckoutSessionRequest, $idempotencyKey = null, $acceptLanguage = null, $userAgent = null, $requestId = null, $signature = null, $timestamp = null, $aPIVersion = null)
    {
        // verify the required parameter 'acpCreateCheckoutSessionRequest' is set
        if ($acpCreateCheckoutSessionRequest === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $acpCreateCheckoutSessionRequest when calling createCheckoutSession");
            throw new \InvalidArgumentException('Missing the required parameter $acpCreateCheckoutSessionRequest when calling createCheckoutSession');
        }
        // parse inputs
        $resourcePath = "/icc/v1/checkout_sessions";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/hal+json;charset=utf-8']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);

        // header params
        if ($idempotencyKey !== null) {
            $headerParams['Idempotency-Key'] = $this->apiClient->getSerializer()->toHeaderValue($idempotencyKey);
        }
        // header params
        if ($acceptLanguage !== null) {
            $headerParams['Accept-Language'] = $this->apiClient->getSerializer()->toHeaderValue($acceptLanguage);
        }
        // header params
        if ($userAgent !== null) {
            $headerParams['User-Agent'] = $this->apiClient->getSerializer()->toHeaderValue($userAgent);
        }
        // header params
        if ($requestId !== null) {
            $headerParams['Request-Id'] = $this->apiClient->getSerializer()->toHeaderValue($requestId);
        }
        // header params
        if ($signature !== null) {
            $headerParams['Signature'] = $this->apiClient->getSerializer()->toHeaderValue($signature);
        }
        // header params
        if ($timestamp !== null) {
            $headerParams['Timestamp'] = $this->apiClient->getSerializer()->toHeaderValue($timestamp);
        }
        // header params
        if ($aPIVersion !== null) {
            $headerParams['API-Version'] = $this->apiClient->getSerializer()->toHeaderValue($aPIVersion);
        }
        // body params
        $_tempBody = null;
        if (isset($acpCreateCheckoutSessionRequest)) {
            $_tempBody = $acpCreateCheckoutSessionRequest;
        }
        
        $sdkTracker = new \CyberSource\Utilities\Tracking\SdkTracker();
        $modelClassLocation = explode('\\', '\CyberSource\Model\AcpCreateCheckoutSessionRequest');

        $_tempBody = $sdkTracker->insertDeveloperIdTracker($_tempBody, end($modelClassLocation), $this->apiClient->merchantConfig->getRunEnvironment(), $this->apiClient->merchantConfig->getDefaultDeveloperId());

        // for model (json/xml)
        if (isset($_tempBody) and count($formParams) <= 0) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = MultipartHelper::build_data_files($boundary, $formParams); // for HTTP post (form)
        }

        //MLE check and mle encryption for req body
        $inboundMLEStatus = 'mandatory';
        if (MLEUtility::checkIsMLEForAPI($this->apiClient->merchantConfig, $inboundMLEStatus, "createCheckoutSession,createCheckoutSessionWithHttpInfo")) {
            try {
                $httpBody = MLEUtility::encryptRequestPayload($this->apiClient->merchantConfig, $httpBody);
            } catch (Exception $e) {
                self::$logger->error("Failed to encrypt request body:  $e");
                throw new ApiException("Failed to encrypt request body : " . $e->getMessage());
            }
        }

        
        // Logging
        self::$logger->debug("Resource : POST $resourcePath");
        if (isset($httpBody) and count($formParams) <= 0) {
            if ($this->apiClient->merchantConfig->getLogConfiguration()->isMaskingEnabled()) {
                $printHttpBody = \CyberSource\Utilities\Helpers\DataMasker::maskData($httpBody);
            } else {
                $printHttpBody = $httpBody;
            }
            
            self::$logger->debug("Body Parameter :\n" . $printHttpBody); 
        }

        self::$logger->debug("Return Type : \CyberSource\Model\InlineResponse20112");
        
        // Response MLE check
        $isResponseMLEForAPI = MLEUtility::checkIsResponseMLEForAPI($this->apiClient->merchantConfig, "createCheckoutSession,createCheckoutSessionWithHttpInfo");
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CyberSource\Model\InlineResponse20112',
                '/icc/v1/checkout_sessions',
                $isResponseMLEForAPI
            );
            
            self::$logger->debug("Response Headers :\n" . \CyberSource\Utilities\Helpers\ListHelper::toString($httpHeader));

            return [$this->apiClient->getSerializer()->deserialize($response, '\CyberSource\Model\InlineResponse20112', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse20112', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse40016', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse40016', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            self::$logger->error("ApiException : $e");
            throw $e;
        }
    }

    /**
     * Operation getCheckoutSession
     *
     * Get Checkout Session ACP
     *
     * @param string $sessionId The unique identifier of the ACP checkout session to retrieve. Obtained from the &#x60;id&#x60; field in the Create Session response. (required)
     * @param object $acpGetCheckoutSessionRequest Empty request body. (required)
     * @param string $idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned. (optional)
     * @param string $acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content. (optional)
     * @param string $userAgent Client user agent string identifying the AI agent platform and version. (optional)
     * @param string $requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers. (optional)
     * @param string $signature Request signature for payload integrity verification. (optional)
     * @param string $timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection. (optional)
     * @param string $aPIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed. (optional)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\InlineResponse20112, HTTP status code, HTTP response headers (array of strings)
     */
    public function getCheckoutSession($sessionId, $acpGetCheckoutSessionRequest, $idempotencyKey = null, $acceptLanguage = null, $userAgent = null, $requestId = null, $signature = null, $timestamp = null, $aPIVersion = null)
    {
        self::$logger->info('CALL TO METHOD getCheckoutSession STARTED');
        list($response, $statusCode, $httpHeader) = $this->getCheckoutSessionWithHttpInfo($sessionId, $acpGetCheckoutSessionRequest, $idempotencyKey, $acceptLanguage, $userAgent, $requestId, $signature, $timestamp, $aPIVersion);
        self::$logger->info('CALL TO METHOD getCheckoutSession ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }

    /**
     * Operation getCheckoutSessionWithHttpInfo
     *
     * Get Checkout Session ACP
     *
     * @param string $sessionId The unique identifier of the ACP checkout session to retrieve. Obtained from the &#x60;id&#x60; field in the Create Session response. (required)
     * @param object $acpGetCheckoutSessionRequest Empty request body. (required)
     * @param string $idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned. (optional)
     * @param string $acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content. (optional)
     * @param string $userAgent Client user agent string identifying the AI agent platform and version. (optional)
     * @param string $requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers. (optional)
     * @param string $signature Request signature for payload integrity verification. (optional)
     * @param string $timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection. (optional)
     * @param string $aPIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed. (optional)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\InlineResponse20112, HTTP status code, HTTP response headers (array of strings)
     */
    public function getCheckoutSessionWithHttpInfo($sessionId, $acpGetCheckoutSessionRequest, $idempotencyKey = null, $acceptLanguage = null, $userAgent = null, $requestId = null, $signature = null, $timestamp = null, $aPIVersion = null)
    {
        // verify the required parameter 'sessionId' is set
        if ($sessionId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $sessionId when calling getCheckoutSession");
            throw new \InvalidArgumentException('Missing the required parameter $sessionId when calling getCheckoutSession');
        }
        // verify the required parameter 'acpGetCheckoutSessionRequest' is set
        if ($acpGetCheckoutSessionRequest === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $acpGetCheckoutSessionRequest when calling getCheckoutSession");
            throw new \InvalidArgumentException('Missing the required parameter $acpGetCheckoutSessionRequest when calling getCheckoutSession');
        }
        // parse inputs
        $resourcePath = "/icc/v1/checkout_sessions/{session_id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/hal+json;charset=utf-8']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);

        // header params
        if ($idempotencyKey !== null) {
            $headerParams['Idempotency-Key'] = $this->apiClient->getSerializer()->toHeaderValue($idempotencyKey);
        }
        // header params
        if ($acceptLanguage !== null) {
            $headerParams['Accept-Language'] = $this->apiClient->getSerializer()->toHeaderValue($acceptLanguage);
        }
        // header params
        if ($userAgent !== null) {
            $headerParams['User-Agent'] = $this->apiClient->getSerializer()->toHeaderValue($userAgent);
        }
        // header params
        if ($requestId !== null) {
            $headerParams['Request-Id'] = $this->apiClient->getSerializer()->toHeaderValue($requestId);
        }
        // header params
        if ($signature !== null) {
            $headerParams['Signature'] = $this->apiClient->getSerializer()->toHeaderValue($signature);
        }
        // header params
        if ($timestamp !== null) {
            $headerParams['Timestamp'] = $this->apiClient->getSerializer()->toHeaderValue($timestamp);
        }
        // header params
        if ($aPIVersion !== null) {
            $headerParams['API-Version'] = $this->apiClient->getSerializer()->toHeaderValue($aPIVersion);
        }
        // path params
        if ($sessionId !== null) {
            $resourcePath = str_replace(
                "{" . "session_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($sessionId),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($acpGetCheckoutSessionRequest)) {
            $_tempBody = $acpGetCheckoutSessionRequest;
        }
        
        $sdkTracker = new \CyberSource\Utilities\Tracking\SdkTracker();
        $modelClassLocation = explode('\\', 'object');

        $_tempBody = $sdkTracker->insertDeveloperIdTracker($_tempBody, end($modelClassLocation), $this->apiClient->merchantConfig->getRunEnvironment(), $this->apiClient->merchantConfig->getDefaultDeveloperId());

        // for model (json/xml)
        if (isset($_tempBody) and count($formParams) <= 0) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = MultipartHelper::build_data_files($boundary, $formParams); // for HTTP post (form)
        }

        //MLE check and mle encryption for req body
        $inboundMLEStatus = 'false';
        if (MLEUtility::checkIsMLEForAPI($this->apiClient->merchantConfig, $inboundMLEStatus, "getCheckoutSession,getCheckoutSessionWithHttpInfo")) {
            try {
                $httpBody = MLEUtility::encryptRequestPayload($this->apiClient->merchantConfig, $httpBody);
            } catch (Exception $e) {
                self::$logger->error("Failed to encrypt request body:  $e");
                throw new ApiException("Failed to encrypt request body : " . $e->getMessage());
            }
        }

        
        // Logging
        self::$logger->debug("Resource : GET $resourcePath");
        if (isset($httpBody) and count($formParams) <= 0) {
            if ($this->apiClient->merchantConfig->getLogConfiguration()->isMaskingEnabled()) {
                $printHttpBody = \CyberSource\Utilities\Helpers\DataMasker::maskData($httpBody);
            } else {
                $printHttpBody = $httpBody;
            }
            
            self::$logger->debug("Body Parameter :\n" . $printHttpBody); 
        }

        self::$logger->debug("Return Type : \CyberSource\Model\InlineResponse20112");
        
        // Response MLE check
        $isResponseMLEForAPI = MLEUtility::checkIsResponseMLEForAPI($this->apiClient->merchantConfig, "getCheckoutSession,getCheckoutSessionWithHttpInfo");
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CyberSource\Model\InlineResponse20112',
                '/icc/v1/checkout_sessions/{session_id}',
                $isResponseMLEForAPI
            );
            
            self::$logger->debug("Response Headers :\n" . \CyberSource\Utilities\Helpers\ListHelper::toString($httpHeader));

            return [$this->apiClient->getSerializer()->deserialize($response, '\CyberSource\Model\InlineResponse20112', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse20112', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse40016', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse40016', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            self::$logger->error("ApiException : $e");
            throw $e;
        }
    }

    /**
     * Operation updateCheckoutSession
     *
     * Update Checkout Session ACP
     *
     * @param string $sessionId The unique identifier of the ACP checkout session to update. Obtained from the &#x60;id&#x60; field in the Create Session response. (required)
     * @param \CyberSource\Model\AcpUpdateCheckoutSessionRequest $acpUpdateCheckoutSessionRequest Fields to update. All fields are optional — only included fields are changed. To replace the cart entirely, provide the full &#x60;items&#x60; array. (required)
     * @param string $idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned. (optional)
     * @param string $acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content. (optional)
     * @param string $userAgent Client user agent string identifying the AI agent platform and version. (optional)
     * @param string $requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers. (optional)
     * @param string $signature Request signature for payload integrity verification. (optional)
     * @param string $timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection. (optional)
     * @param string $aPIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed. (optional)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\InlineResponse20112, HTTP status code, HTTP response headers (array of strings)
     */
    public function updateCheckoutSession($sessionId, $acpUpdateCheckoutSessionRequest, $idempotencyKey = null, $acceptLanguage = null, $userAgent = null, $requestId = null, $signature = null, $timestamp = null, $aPIVersion = null)
    {
        self::$logger->info('CALL TO METHOD updateCheckoutSession STARTED');
        list($response, $statusCode, $httpHeader) = $this->updateCheckoutSessionWithHttpInfo($sessionId, $acpUpdateCheckoutSessionRequest, $idempotencyKey, $acceptLanguage, $userAgent, $requestId, $signature, $timestamp, $aPIVersion);
        self::$logger->info('CALL TO METHOD updateCheckoutSession ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }

    /**
     * Operation updateCheckoutSessionWithHttpInfo
     *
     * Update Checkout Session ACP
     *
     * @param string $sessionId The unique identifier of the ACP checkout session to update. Obtained from the &#x60;id&#x60; field in the Create Session response. (required)
     * @param \CyberSource\Model\AcpUpdateCheckoutSessionRequest $acpUpdateCheckoutSessionRequest Fields to update. All fields are optional — only included fields are changed. To replace the cart entirely, provide the full &#x60;items&#x60; array. (required)
     * @param string $idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned. (optional)
     * @param string $acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content. (optional)
     * @param string $userAgent Client user agent string identifying the AI agent platform and version. (optional)
     * @param string $requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers. (optional)
     * @param string $signature Request signature for payload integrity verification. (optional)
     * @param string $timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection. (optional)
     * @param string $aPIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed. (optional)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\InlineResponse20112, HTTP status code, HTTP response headers (array of strings)
     */
    public function updateCheckoutSessionWithHttpInfo($sessionId, $acpUpdateCheckoutSessionRequest, $idempotencyKey = null, $acceptLanguage = null, $userAgent = null, $requestId = null, $signature = null, $timestamp = null, $aPIVersion = null)
    {
        // verify the required parameter 'sessionId' is set
        if ($sessionId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $sessionId when calling updateCheckoutSession");
            throw new \InvalidArgumentException('Missing the required parameter $sessionId when calling updateCheckoutSession');
        }
        // verify the required parameter 'acpUpdateCheckoutSessionRequest' is set
        if ($acpUpdateCheckoutSessionRequest === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $acpUpdateCheckoutSessionRequest when calling updateCheckoutSession");
            throw new \InvalidArgumentException('Missing the required parameter $acpUpdateCheckoutSessionRequest when calling updateCheckoutSession');
        }
        // parse inputs
        $resourcePath = "/icc/v1/checkout_sessions/{session_id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/hal+json;charset=utf-8']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);

        // header params
        if ($idempotencyKey !== null) {
            $headerParams['Idempotency-Key'] = $this->apiClient->getSerializer()->toHeaderValue($idempotencyKey);
        }
        // header params
        if ($acceptLanguage !== null) {
            $headerParams['Accept-Language'] = $this->apiClient->getSerializer()->toHeaderValue($acceptLanguage);
        }
        // header params
        if ($userAgent !== null) {
            $headerParams['User-Agent'] = $this->apiClient->getSerializer()->toHeaderValue($userAgent);
        }
        // header params
        if ($requestId !== null) {
            $headerParams['Request-Id'] = $this->apiClient->getSerializer()->toHeaderValue($requestId);
        }
        // header params
        if ($signature !== null) {
            $headerParams['Signature'] = $this->apiClient->getSerializer()->toHeaderValue($signature);
        }
        // header params
        if ($timestamp !== null) {
            $headerParams['Timestamp'] = $this->apiClient->getSerializer()->toHeaderValue($timestamp);
        }
        // header params
        if ($aPIVersion !== null) {
            $headerParams['API-Version'] = $this->apiClient->getSerializer()->toHeaderValue($aPIVersion);
        }
        // path params
        if ($sessionId !== null) {
            $resourcePath = str_replace(
                "{" . "session_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($sessionId),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($acpUpdateCheckoutSessionRequest)) {
            $_tempBody = $acpUpdateCheckoutSessionRequest;
        }
        
        $sdkTracker = new \CyberSource\Utilities\Tracking\SdkTracker();
        $modelClassLocation = explode('\\', '\CyberSource\Model\AcpUpdateCheckoutSessionRequest');

        $_tempBody = $sdkTracker->insertDeveloperIdTracker($_tempBody, end($modelClassLocation), $this->apiClient->merchantConfig->getRunEnvironment(), $this->apiClient->merchantConfig->getDefaultDeveloperId());

        // for model (json/xml)
        if (isset($_tempBody) and count($formParams) <= 0) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = MultipartHelper::build_data_files($boundary, $formParams); // for HTTP post (form)
        }

        //MLE check and mle encryption for req body
        $inboundMLEStatus = 'mandatory';
        if (MLEUtility::checkIsMLEForAPI($this->apiClient->merchantConfig, $inboundMLEStatus, "updateCheckoutSession,updateCheckoutSessionWithHttpInfo")) {
            try {
                $httpBody = MLEUtility::encryptRequestPayload($this->apiClient->merchantConfig, $httpBody);
            } catch (Exception $e) {
                self::$logger->error("Failed to encrypt request body:  $e");
                throw new ApiException("Failed to encrypt request body : " . $e->getMessage());
            }
        }

        
        // Logging
        self::$logger->debug("Resource : POST $resourcePath");
        if (isset($httpBody) and count($formParams) <= 0) {
            if ($this->apiClient->merchantConfig->getLogConfiguration()->isMaskingEnabled()) {
                $printHttpBody = \CyberSource\Utilities\Helpers\DataMasker::maskData($httpBody);
            } else {
                $printHttpBody = $httpBody;
            }
            
            self::$logger->debug("Body Parameter :\n" . $printHttpBody); 
        }

        self::$logger->debug("Return Type : \CyberSource\Model\InlineResponse20112");
        
        // Response MLE check
        $isResponseMLEForAPI = MLEUtility::checkIsResponseMLEForAPI($this->apiClient->merchantConfig, "updateCheckoutSession,updateCheckoutSessionWithHttpInfo");
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CyberSource\Model\InlineResponse20112',
                '/icc/v1/checkout_sessions/{session_id}',
                $isResponseMLEForAPI
            );
            
            self::$logger->debug("Response Headers :\n" . \CyberSource\Utilities\Helpers\ListHelper::toString($httpHeader));

            return [$this->apiClient->getSerializer()->deserialize($response, '\CyberSource\Model\InlineResponse20112', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse20112', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse40016', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse40016', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse40016', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            self::$logger->error("ApiException : $e");
            throw $e;
        }
    }
}
