<?php
/**
 * AgentCapabilitiesApi
 * PHP version 5
 *
 * @category Class
 * @package  CyberSource
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * CyberSource Merged Spec
 *
 * All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
 *
 * OpenAPI spec version: 0.0.1
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */
/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace CyberSource\Api;

use \CyberSource\ApiClient;
use \CyberSource\ApiException;
use \CyberSource\Configuration;
use \CyberSource\ObjectSerializer;
use \CyberSource\Logging\LogFactory as LogFactory;
use \CyberSource\Authentication\Util\MLEUtility;
use \CyberSource\Utilities\MultipartHelpers\MultipartHelper;
use \Exception;

/**
 * AgentCapabilitiesApi Class Doc Comment
 *
 * @category Class
 * @package  CyberSource
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class AgentCapabilitiesApi
{
    private static $logger = null;
    
    /**
     * API Client
     *
     * @var \CyberSource\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \CyberSource\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\CyberSource\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;

        if (self::$logger === null) {
            self::$logger = (new LogFactory())->getLogger(\CyberSource\Utilities\Helpers\ClassHelper::getClassName(get_class($this)), $apiClient->merchantConfig->getLogConfiguration());
        }
    }

    /**
     * Get API client
     *
     * @return \CyberSource\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \CyberSource\ApiClient $apiClient set the API client
     *
     * @return AgentCapabilitiesApi
     */
    public function setApiClient(\CyberSource\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation activateAgentKey
     *
     * Activate a key
     *
     * @param string $agentId Unique agent identifier (required)
     * @param string $keyId Unique key identifier (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\AddAgentKeyResponse201, HTTP status code, HTTP response headers (array of strings)
     */
    public function activateAgentKey($agentId, $keyId)
    {
        self::$logger->info('CALL TO METHOD activateAgentKey STARTED');
        list($response, $statusCode, $httpHeader) = $this->activateAgentKeyWithHttpInfo($agentId, $keyId);
        self::$logger->info('CALL TO METHOD activateAgentKey ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }

    /**
     * Operation activateAgentKeyWithHttpInfo
     *
     * Activate a key
     *
     * @param string $agentId Unique agent identifier (required)
     * @param string $keyId Unique key identifier (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\AddAgentKeyResponse201, HTTP status code, HTTP response headers (array of strings)
     */
    public function activateAgentKeyWithHttpInfo($agentId, $keyId)
    {
        // verify the required parameter 'agentId' is set
        if ($agentId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $agentId when calling activateAgentKey");
            throw new \InvalidArgumentException('Missing the required parameter $agentId when calling activateAgentKey');
        }
        // verify the required parameter 'keyId' is set
        if ($keyId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $keyId when calling activateAgentKey");
            throw new \InvalidArgumentException('Missing the required parameter $keyId when calling activateAgentKey');
        }
        // parse inputs
        $resourcePath = "/icc/v1/agents/{agentId}/keys/{keyId}/activate";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/hal+json;charset=utf-8']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);

        // path params
        if ($agentId !== null) {
            $resourcePath = str_replace(
                "{" . "agentId" . "}",
                $this->apiClient->getSerializer()->toPathValue($agentId),
                $resourcePath
            );
        }
        // path params
        if ($keyId !== null) {
            $resourcePath = str_replace(
                "{" . "keyId" . "}",
                $this->apiClient->getSerializer()->toPathValue($keyId),
                $resourcePath
            );
        }
        if ('POST' == 'POST') {
            $_tempBody = '{}';
        }

        // for model (json/xml)
        if (isset($_tempBody) and count($formParams) <= 0) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = MultipartHelper::build_data_files($boundary, $formParams); // for HTTP post (form)
        }

        //MLE check and mle encryption for req body
        $inboundMLEStatus = 'mandatory';
        if (MLEUtility::checkIsMLEForAPI($this->apiClient->merchantConfig, $inboundMLEStatus, "activateAgentKey,activateAgentKeyWithHttpInfo")) {
            try {
                $httpBody = MLEUtility::encryptRequestPayload($this->apiClient->merchantConfig, $httpBody);
            } catch (Exception $e) {
                self::$logger->error("Failed to encrypt request body:  $e");
                throw new ApiException("Failed to encrypt request body : " . $e->getMessage());
            }
        }

        
        // Logging
        self::$logger->debug("Resource : POST $resourcePath");
        if (isset($httpBody) and count($formParams) <= 0) {
            if ($this->apiClient->merchantConfig->getLogConfiguration()->isMaskingEnabled()) {
                $printHttpBody = \CyberSource\Utilities\Helpers\DataMasker::maskData($httpBody);
            } else {
                $printHttpBody = $httpBody;
            }
            
            self::$logger->debug("Body Parameter :\n" . $printHttpBody); 
        }

        self::$logger->debug("Return Type : \CyberSource\Model\AddAgentKeyResponse201");
        
        // Response MLE check
        $isResponseMLEForAPI = MLEUtility::checkIsResponseMLEForAPI($this->apiClient->merchantConfig, "activateAgentKey,activateAgentKeyWithHttpInfo");
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CyberSource\Model\AddAgentKeyResponse201',
                '/icc/v1/agents/{agentId}/keys/{keyId}/activate',
                $isResponseMLEForAPI
            );
            
            self::$logger->debug("Response Headers :\n" . \CyberSource\Utilities\Helpers\ListHelper::toString($httpHeader));

            return [$this->apiClient->getSerializer()->deserialize($response, '\CyberSource\Model\AddAgentKeyResponse201', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AddAgentKeyResponse201', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 403:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgentRegistrationConflictResponse409', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgentRegistrationConflictResponse409', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            self::$logger->error("ApiException : $e");
            throw $e;
        }
    }

    /**
     * Operation addAgentKey
     *
     * Add a key to an agent
     *
     * @param string $agentId Unique agent identifier (required)
     * @param \CyberSource\Model\KeyRequest $keyRequest Key creation request (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\AddAgentKeyResponse201, HTTP status code, HTTP response headers (array of strings)
     */
    public function addAgentKey($agentId, $keyRequest)
    {
        self::$logger->info('CALL TO METHOD addAgentKey STARTED');
        list($response, $statusCode, $httpHeader) = $this->addAgentKeyWithHttpInfo($agentId, $keyRequest);
        self::$logger->info('CALL TO METHOD addAgentKey ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }

    /**
     * Operation addAgentKeyWithHttpInfo
     *
     * Add a key to an agent
     *
     * @param string $agentId Unique agent identifier (required)
     * @param \CyberSource\Model\KeyRequest $keyRequest Key creation request (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\AddAgentKeyResponse201, HTTP status code, HTTP response headers (array of strings)
     */
    public function addAgentKeyWithHttpInfo($agentId, $keyRequest)
    {
        // verify the required parameter 'agentId' is set
        if ($agentId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $agentId when calling addAgentKey");
            throw new \InvalidArgumentException('Missing the required parameter $agentId when calling addAgentKey');
        }
        // verify the required parameter 'keyRequest' is set
        if ($keyRequest === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $keyRequest when calling addAgentKey");
            throw new \InvalidArgumentException('Missing the required parameter $keyRequest when calling addAgentKey');
        }
        // parse inputs
        $resourcePath = "/icc/v1/agents/{agentId}/keys";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/hal+json;charset=utf-8']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);

        // path params
        if ($agentId !== null) {
            $resourcePath = str_replace(
                "{" . "agentId" . "}",
                $this->apiClient->getSerializer()->toPathValue($agentId),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($keyRequest)) {
            $_tempBody = $keyRequest;
        }
        
        $sdkTracker = new \CyberSource\Utilities\Tracking\SdkTracker();
        $modelClassLocation = explode('\\', '\CyberSource\Model\KeyRequest');

        $_tempBody = $sdkTracker->insertDeveloperIdTracker($_tempBody, end($modelClassLocation), $this->apiClient->merchantConfig->getRunEnvironment(), $this->apiClient->merchantConfig->getDefaultDeveloperId());

        // for model (json/xml)
        if (isset($_tempBody) and count($formParams) <= 0) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = MultipartHelper::build_data_files($boundary, $formParams); // for HTTP post (form)
        }

        //MLE check and mle encryption for req body
        $inboundMLEStatus = 'mandatory';
        if (MLEUtility::checkIsMLEForAPI($this->apiClient->merchantConfig, $inboundMLEStatus, "addAgentKey,addAgentKeyWithHttpInfo")) {
            try {
                $httpBody = MLEUtility::encryptRequestPayload($this->apiClient->merchantConfig, $httpBody);
            } catch (Exception $e) {
                self::$logger->error("Failed to encrypt request body:  $e");
                throw new ApiException("Failed to encrypt request body : " . $e->getMessage());
            }
        }

        
        // Logging
        self::$logger->debug("Resource : POST $resourcePath");
        if (isset($httpBody) and count($formParams) <= 0) {
            if ($this->apiClient->merchantConfig->getLogConfiguration()->isMaskingEnabled()) {
                $printHttpBody = \CyberSource\Utilities\Helpers\DataMasker::maskData($httpBody);
            } else {
                $printHttpBody = $httpBody;
            }
            
            self::$logger->debug("Body Parameter :\n" . $printHttpBody); 
        }

        self::$logger->debug("Return Type : \CyberSource\Model\AddAgentKeyResponse201");
        
        // Response MLE check
        $isResponseMLEForAPI = MLEUtility::checkIsResponseMLEForAPI($this->apiClient->merchantConfig, "addAgentKey,addAgentKeyWithHttpInfo");
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CyberSource\Model\AddAgentKeyResponse201',
                '/icc/v1/agents/{agentId}/keys',
                $isResponseMLEForAPI
            );
            
            self::$logger->debug("Response Headers :\n" . \CyberSource\Utilities\Helpers\ListHelper::toString($httpHeader));

            return [$this->apiClient->getSerializer()->deserialize($response, '\CyberSource\Model\AddAgentKeyResponse201', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AddAgentKeyResponse201', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 403:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgentRegistrationConflictResponse409', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgentRegistrationConflictResponse409', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 422:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgentRegistrationValidationErrorResponse422', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            self::$logger->error("ApiException : $e");
            throw $e;
        }
    }

    /**
     * Operation cancelCheckout
     *
     * Cancel Checkout ACP
     *
     * @param string $sessionId The unique identifier of the ACP checkout session to cancel. Obtained from the &#x60;id&#x60; field in the Create Session response. (required)
     * @param string $idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned. (optional)
     * @param string $acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content. (optional)
     * @param string $userAgent Client user agent string identifying the AI agent platform and version. (optional)
     * @param string $requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers. (optional)
     * @param string $signature Request signature for payload integrity verification. (optional)
     * @param string $timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection. (optional)
     * @param string $aPIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed. (optional)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\InlineResponse20018, HTTP status code, HTTP response headers (array of strings)
     */
    public function cancelCheckout($sessionId, $idempotencyKey = null, $acceptLanguage = null, $userAgent = null, $requestId = null, $signature = null, $timestamp = null, $aPIVersion = null)
    {
        self::$logger->info('CALL TO METHOD cancelCheckout STARTED');
        list($response, $statusCode, $httpHeader) = $this->cancelCheckoutWithHttpInfo($sessionId, $idempotencyKey, $acceptLanguage, $userAgent, $requestId, $signature, $timestamp, $aPIVersion);
        self::$logger->info('CALL TO METHOD cancelCheckout ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }

    /**
     * Operation cancelCheckoutWithHttpInfo
     *
     * Cancel Checkout ACP
     *
     * @param string $sessionId The unique identifier of the ACP checkout session to cancel. Obtained from the &#x60;id&#x60; field in the Create Session response. (required)
     * @param string $idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned. (optional)
     * @param string $acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content. (optional)
     * @param string $userAgent Client user agent string identifying the AI agent platform and version. (optional)
     * @param string $requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers. (optional)
     * @param string $signature Request signature for payload integrity verification. (optional)
     * @param string $timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection. (optional)
     * @param string $aPIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed. (optional)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\InlineResponse20018, HTTP status code, HTTP response headers (array of strings)
     */
    public function cancelCheckoutWithHttpInfo($sessionId, $idempotencyKey = null, $acceptLanguage = null, $userAgent = null, $requestId = null, $signature = null, $timestamp = null, $aPIVersion = null)
    {
        // verify the required parameter 'sessionId' is set
        if ($sessionId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $sessionId when calling cancelCheckout");
            throw new \InvalidArgumentException('Missing the required parameter $sessionId when calling cancelCheckout');
        }
        // parse inputs
        $resourcePath = "/icc/v1/checkout_sessions/{session_id}/cancel";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/hal+json;charset=utf-8']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);

        // header params
        if ($idempotencyKey !== null) {
            $headerParams['Idempotency-Key'] = $this->apiClient->getSerializer()->toHeaderValue($idempotencyKey);
        }
        // header params
        if ($acceptLanguage !== null) {
            $headerParams['Accept-Language'] = $this->apiClient->getSerializer()->toHeaderValue($acceptLanguage);
        }
        // header params
        if ($userAgent !== null) {
            $headerParams['User-Agent'] = $this->apiClient->getSerializer()->toHeaderValue($userAgent);
        }
        // header params
        if ($requestId !== null) {
            $headerParams['Request-Id'] = $this->apiClient->getSerializer()->toHeaderValue($requestId);
        }
        // header params
        if ($signature !== null) {
            $headerParams['Signature'] = $this->apiClient->getSerializer()->toHeaderValue($signature);
        }
        // header params
        if ($timestamp !== null) {
            $headerParams['Timestamp'] = $this->apiClient->getSerializer()->toHeaderValue($timestamp);
        }
        // header params
        if ($aPIVersion !== null) {
            $headerParams['API-Version'] = $this->apiClient->getSerializer()->toHeaderValue($aPIVersion);
        }
        // path params
        if ($sessionId !== null) {
            $resourcePath = str_replace(
                "{" . "session_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($sessionId),
                $resourcePath
            );
        }
        if ('POST' == 'POST') {
            $_tempBody = '{}';
        }

        // for model (json/xml)
        if (isset($_tempBody) and count($formParams) <= 0) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = MultipartHelper::build_data_files($boundary, $formParams); // for HTTP post (form)
        }

        //MLE check and mle encryption for req body
        $inboundMLEStatus = 'mandatory';
        if (MLEUtility::checkIsMLEForAPI($this->apiClient->merchantConfig, $inboundMLEStatus, "cancelCheckout,cancelCheckoutWithHttpInfo")) {
            try {
                $httpBody = MLEUtility::encryptRequestPayload($this->apiClient->merchantConfig, $httpBody);
            } catch (Exception $e) {
                self::$logger->error("Failed to encrypt request body:  $e");
                throw new ApiException("Failed to encrypt request body : " . $e->getMessage());
            }
        }

        
        // Logging
        self::$logger->debug("Resource : POST $resourcePath");
        if (isset($httpBody) and count($formParams) <= 0) {
            if ($this->apiClient->merchantConfig->getLogConfiguration()->isMaskingEnabled()) {
                $printHttpBody = \CyberSource\Utilities\Helpers\DataMasker::maskData($httpBody);
            } else {
                $printHttpBody = $httpBody;
            }
            
            self::$logger->debug("Body Parameter :\n" . $printHttpBody); 
        }

        self::$logger->debug("Return Type : \CyberSource\Model\InlineResponse20018");
        
        // Response MLE check
        $isResponseMLEForAPI = MLEUtility::checkIsResponseMLEForAPI($this->apiClient->merchantConfig, "cancelCheckout,cancelCheckoutWithHttpInfo");
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CyberSource\Model\InlineResponse20018',
                '/icc/v1/checkout_sessions/{session_id}/cancel',
                $isResponseMLEForAPI
            );
            
            self::$logger->debug("Response Headers :\n" . \CyberSource\Utilities\Helpers\ListHelper::toString($httpHeader));

            return [$this->apiClient->getSerializer()->deserialize($response, '\CyberSource\Model\InlineResponse20018', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse20018', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse40016', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse40016', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            self::$logger->error("ApiException : $e");
            throw $e;
        }
    }

    /**
     * Operation cancelPurchaseIntent
     *
     * Cancel a purchase intent
     *
     * @param string $instructionId  (required)
     * @param \CyberSource\Model\AgenticCancelPurchaseIntentRequest $agenticCancelPurchaseIntentRequest Unique identifier for the purchase intent instruction. (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\AgenticCreatePurchaseIntentResponse200, HTTP status code, HTTP response headers (array of strings)
     */
    public function cancelPurchaseIntent($instructionId, $agenticCancelPurchaseIntentRequest)
    {
        self::$logger->info('CALL TO METHOD cancelPurchaseIntent STARTED');
        list($response, $statusCode, $httpHeader) = $this->cancelPurchaseIntentWithHttpInfo($instructionId, $agenticCancelPurchaseIntentRequest);
        self::$logger->info('CALL TO METHOD cancelPurchaseIntent ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }

    /**
     * Operation cancelPurchaseIntentWithHttpInfo
     *
     * Cancel a purchase intent
     *
     * @param string $instructionId  (required)
     * @param \CyberSource\Model\AgenticCancelPurchaseIntentRequest $agenticCancelPurchaseIntentRequest Unique identifier for the purchase intent instruction. (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\AgenticCreatePurchaseIntentResponse200, HTTP status code, HTTP response headers (array of strings)
     */
    public function cancelPurchaseIntentWithHttpInfo($instructionId, $agenticCancelPurchaseIntentRequest)
    {
        // verify the required parameter 'instructionId' is set
        if ($instructionId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $instructionId when calling cancelPurchaseIntent");
            throw new \InvalidArgumentException('Missing the required parameter $instructionId when calling cancelPurchaseIntent');
        }
        // verify the required parameter 'agenticCancelPurchaseIntentRequest' is set
        if ($agenticCancelPurchaseIntentRequest === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $agenticCancelPurchaseIntentRequest when calling cancelPurchaseIntent");
            throw new \InvalidArgumentException('Missing the required parameter $agenticCancelPurchaseIntentRequest when calling cancelPurchaseIntent');
        }
        // parse inputs
        $resourcePath = "/icc/v1/instructions/{instructionId}/cancel";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/hal+json;charset=utf-8']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);

        // path params
        if ($instructionId !== null) {
            $resourcePath = str_replace(
                "{" . "instructionId" . "}",
                $this->apiClient->getSerializer()->toPathValue($instructionId),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($agenticCancelPurchaseIntentRequest)) {
            $_tempBody = $agenticCancelPurchaseIntentRequest;
        }
        
        $sdkTracker = new \CyberSource\Utilities\Tracking\SdkTracker();
        $modelClassLocation = explode('\\', '\CyberSource\Model\AgenticCancelPurchaseIntentRequest');

        $_tempBody = $sdkTracker->insertDeveloperIdTracker($_tempBody, end($modelClassLocation), $this->apiClient->merchantConfig->getRunEnvironment(), $this->apiClient->merchantConfig->getDefaultDeveloperId());

        // for model (json/xml)
        if (isset($_tempBody) and count($formParams) <= 0) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = MultipartHelper::build_data_files($boundary, $formParams); // for HTTP post (form)
        }

        //MLE check and mle encryption for req body
        $inboundMLEStatus = 'mandatory';
        if (MLEUtility::checkIsMLEForAPI($this->apiClient->merchantConfig, $inboundMLEStatus, "cancelPurchaseIntent,cancelPurchaseIntentWithHttpInfo")) {
            try {
                $httpBody = MLEUtility::encryptRequestPayload($this->apiClient->merchantConfig, $httpBody);
            } catch (Exception $e) {
                self::$logger->error("Failed to encrypt request body:  $e");
                throw new ApiException("Failed to encrypt request body : " . $e->getMessage());
            }
        }

        
        // Logging
        self::$logger->debug("Resource : PUT $resourcePath");
        if (isset($httpBody) and count($formParams) <= 0) {
            if ($this->apiClient->merchantConfig->getLogConfiguration()->isMaskingEnabled()) {
                $printHttpBody = \CyberSource\Utilities\Helpers\DataMasker::maskData($httpBody);
            } else {
                $printHttpBody = $httpBody;
            }
            
            self::$logger->debug("Body Parameter :\n" . $printHttpBody); 
        }

        self::$logger->debug("Return Type : \CyberSource\Model\AgenticCreatePurchaseIntentResponse200");
        
        // Response MLE check
        $isResponseMLEForAPI = MLEUtility::checkIsResponseMLEForAPI($this->apiClient->merchantConfig, "cancelPurchaseIntent,cancelPurchaseIntentWithHttpInfo");
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CyberSource\Model\AgenticCreatePurchaseIntentResponse200',
                '/icc/v1/instructions/{instructionId}/cancel',
                $isResponseMLEForAPI
            );
            
            self::$logger->debug("Response Headers :\n" . \CyberSource\Utilities\Helpers\ListHelper::toString($httpHeader));

            return [$this->apiClient->getSerializer()->deserialize($response, '\CyberSource\Model\AgenticCreatePurchaseIntentResponse200', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticCreatePurchaseIntentResponse200', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 202:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticPendingPurchaseIntentResponse202', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticCardEnrollmentBadRequestResponse400', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticCardEnrollmentBadRequestResponse400', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 403:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticCardEnrollmentBadRequestResponse400', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticCardEnrollmentBadRequestResponse400', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 409:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticCardEnrollmentBadRequestResponse400', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticCardEnrollmentBadRequestResponse400', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            self::$logger->error("ApiException : $e");
            throw $e;
        }
    }

    /**
     * Operation completeCheckout
     *
     * Complete Checkout ACP
     *
     * @param string $sessionId The unique identifier of the ACP checkout session to complete. (required)
     * @param \CyberSource\Model\AcpCompleteCheckoutRequest $acpCompleteCheckoutRequest Final buyer and payment details needed to place the order. Both &#x60;buyer&#x60; and &#x60;payment&#x60; may have been provided in earlier Create/Update calls; if so, they can be omitted here. At least a valid payment token is required to process the transaction. (required)
     * @param string $idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned. (optional)
     * @param string $acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content. (optional)
     * @param string $userAgent Client user agent string identifying the AI agent platform and version. (optional)
     * @param string $requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers. (optional)
     * @param string $signature Request signature for payload integrity verification. (optional)
     * @param string $timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection. (optional)
     * @param string $aPIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed. (optional)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\InlineResponse20017, HTTP status code, HTTP response headers (array of strings)
     */
    public function completeCheckout($sessionId, $acpCompleteCheckoutRequest, $idempotencyKey = null, $acceptLanguage = null, $userAgent = null, $requestId = null, $signature = null, $timestamp = null, $aPIVersion = null)
    {
        self::$logger->info('CALL TO METHOD completeCheckout STARTED');
        list($response, $statusCode, $httpHeader) = $this->completeCheckoutWithHttpInfo($sessionId, $acpCompleteCheckoutRequest, $idempotencyKey, $acceptLanguage, $userAgent, $requestId, $signature, $timestamp, $aPIVersion);
        self::$logger->info('CALL TO METHOD completeCheckout ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }

    /**
     * Operation completeCheckoutWithHttpInfo
     *
     * Complete Checkout ACP
     *
     * @param string $sessionId The unique identifier of the ACP checkout session to complete. (required)
     * @param \CyberSource\Model\AcpCompleteCheckoutRequest $acpCompleteCheckoutRequest Final buyer and payment details needed to place the order. Both &#x60;buyer&#x60; and &#x60;payment&#x60; may have been provided in earlier Create/Update calls; if so, they can be omitted here. At least a valid payment token is required to process the transaction. (required)
     * @param string $idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned. (optional)
     * @param string $acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content. (optional)
     * @param string $userAgent Client user agent string identifying the AI agent platform and version. (optional)
     * @param string $requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers. (optional)
     * @param string $signature Request signature for payload integrity verification. (optional)
     * @param string $timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection. (optional)
     * @param string $aPIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed. (optional)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\InlineResponse20017, HTTP status code, HTTP response headers (array of strings)
     */
    public function completeCheckoutWithHttpInfo($sessionId, $acpCompleteCheckoutRequest, $idempotencyKey = null, $acceptLanguage = null, $userAgent = null, $requestId = null, $signature = null, $timestamp = null, $aPIVersion = null)
    {
        // verify the required parameter 'sessionId' is set
        if ($sessionId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $sessionId when calling completeCheckout");
            throw new \InvalidArgumentException('Missing the required parameter $sessionId when calling completeCheckout');
        }
        // verify the required parameter 'acpCompleteCheckoutRequest' is set
        if ($acpCompleteCheckoutRequest === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $acpCompleteCheckoutRequest when calling completeCheckout");
            throw new \InvalidArgumentException('Missing the required parameter $acpCompleteCheckoutRequest when calling completeCheckout');
        }
        // parse inputs
        $resourcePath = "/icc/v1/checkout_sessions/{session_id}/complete";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/hal+json;charset=utf-8']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);

        // header params
        if ($idempotencyKey !== null) {
            $headerParams['Idempotency-Key'] = $this->apiClient->getSerializer()->toHeaderValue($idempotencyKey);
        }
        // header params
        if ($acceptLanguage !== null) {
            $headerParams['Accept-Language'] = $this->apiClient->getSerializer()->toHeaderValue($acceptLanguage);
        }
        // header params
        if ($userAgent !== null) {
            $headerParams['User-Agent'] = $this->apiClient->getSerializer()->toHeaderValue($userAgent);
        }
        // header params
        if ($requestId !== null) {
            $headerParams['Request-Id'] = $this->apiClient->getSerializer()->toHeaderValue($requestId);
        }
        // header params
        if ($signature !== null) {
            $headerParams['Signature'] = $this->apiClient->getSerializer()->toHeaderValue($signature);
        }
        // header params
        if ($timestamp !== null) {
            $headerParams['Timestamp'] = $this->apiClient->getSerializer()->toHeaderValue($timestamp);
        }
        // header params
        if ($aPIVersion !== null) {
            $headerParams['API-Version'] = $this->apiClient->getSerializer()->toHeaderValue($aPIVersion);
        }
        // path params
        if ($sessionId !== null) {
            $resourcePath = str_replace(
                "{" . "session_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($sessionId),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($acpCompleteCheckoutRequest)) {
            $_tempBody = $acpCompleteCheckoutRequest;
        }
        
        $sdkTracker = new \CyberSource\Utilities\Tracking\SdkTracker();
        $modelClassLocation = explode('\\', '\CyberSource\Model\AcpCompleteCheckoutRequest');

        $_tempBody = $sdkTracker->insertDeveloperIdTracker($_tempBody, end($modelClassLocation), $this->apiClient->merchantConfig->getRunEnvironment(), $this->apiClient->merchantConfig->getDefaultDeveloperId());

        // for model (json/xml)
        if (isset($_tempBody) and count($formParams) <= 0) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = MultipartHelper::build_data_files($boundary, $formParams); // for HTTP post (form)
        }

        //MLE check and mle encryption for req body
        $inboundMLEStatus = 'mandatory';
        if (MLEUtility::checkIsMLEForAPI($this->apiClient->merchantConfig, $inboundMLEStatus, "completeCheckout,completeCheckoutWithHttpInfo")) {
            try {
                $httpBody = MLEUtility::encryptRequestPayload($this->apiClient->merchantConfig, $httpBody);
            } catch (Exception $e) {
                self::$logger->error("Failed to encrypt request body:  $e");
                throw new ApiException("Failed to encrypt request body : " . $e->getMessage());
            }
        }

        
        // Logging
        self::$logger->debug("Resource : POST $resourcePath");
        if (isset($httpBody) and count($formParams) <= 0) {
            if ($this->apiClient->merchantConfig->getLogConfiguration()->isMaskingEnabled()) {
                $printHttpBody = \CyberSource\Utilities\Helpers\DataMasker::maskData($httpBody);
            } else {
                $printHttpBody = $httpBody;
            }
            
            self::$logger->debug("Body Parameter :\n" . $printHttpBody); 
        }

        self::$logger->debug("Return Type : \CyberSource\Model\InlineResponse20017");
        
        // Response MLE check
        $isResponseMLEForAPI = MLEUtility::checkIsResponseMLEForAPI($this->apiClient->merchantConfig, "completeCheckout,completeCheckoutWithHttpInfo");
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CyberSource\Model\InlineResponse20017',
                '/icc/v1/checkout_sessions/{session_id}/complete',
                $isResponseMLEForAPI
            );
            
            self::$logger->debug("Response Headers :\n" . \CyberSource\Utilities\Helpers\ListHelper::toString($httpHeader));

            return [$this->apiClient->getSerializer()->deserialize($response, '\CyberSource\Model\InlineResponse20017', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse20017', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse40016', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse40016', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse40016', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            self::$logger->error("ApiException : $e");
            throw $e;
        }
    }

    /**
     * Operation confirmTransactionEvents
     *
     * Confirm transaction events
     *
     * @param string $instructionId Unique identifier for the purchase intent instruction. (required)
     * @param \CyberSource\Model\AgenticConfirmTransactionEventsRequest $agenticConfirmTransactionEventsRequest  (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\AgenticConfirmTransactionEventsResponse202, HTTP status code, HTTP response headers (array of strings)
     */
    public function confirmTransactionEvents($instructionId, $agenticConfirmTransactionEventsRequest)
    {
        self::$logger->info('CALL TO METHOD confirmTransactionEvents STARTED');
        list($response, $statusCode, $httpHeader) = $this->confirmTransactionEventsWithHttpInfo($instructionId, $agenticConfirmTransactionEventsRequest);
        self::$logger->info('CALL TO METHOD confirmTransactionEvents ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }

    /**
     * Operation confirmTransactionEventsWithHttpInfo
     *
     * Confirm transaction events
     *
     * @param string $instructionId Unique identifier for the purchase intent instruction. (required)
     * @param \CyberSource\Model\AgenticConfirmTransactionEventsRequest $agenticConfirmTransactionEventsRequest  (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\AgenticConfirmTransactionEventsResponse202, HTTP status code, HTTP response headers (array of strings)
     */
    public function confirmTransactionEventsWithHttpInfo($instructionId, $agenticConfirmTransactionEventsRequest)
    {
        // verify the required parameter 'instructionId' is set
        if ($instructionId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $instructionId when calling confirmTransactionEvents");
            throw new \InvalidArgumentException('Missing the required parameter $instructionId when calling confirmTransactionEvents');
        }
        // verify the required parameter 'agenticConfirmTransactionEventsRequest' is set
        if ($agenticConfirmTransactionEventsRequest === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $agenticConfirmTransactionEventsRequest when calling confirmTransactionEvents");
            throw new \InvalidArgumentException('Missing the required parameter $agenticConfirmTransactionEventsRequest when calling confirmTransactionEvents');
        }
        // parse inputs
        $resourcePath = "/icc/v1/instructions/{instructionId}/confirmations";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/hal+json;charset=utf-8']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);

        // path params
        if ($instructionId !== null) {
            $resourcePath = str_replace(
                "{" . "instructionId" . "}",
                $this->apiClient->getSerializer()->toPathValue($instructionId),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($agenticConfirmTransactionEventsRequest)) {
            $_tempBody = $agenticConfirmTransactionEventsRequest;
        }
        
        $sdkTracker = new \CyberSource\Utilities\Tracking\SdkTracker();
        $modelClassLocation = explode('\\', '\CyberSource\Model\AgenticConfirmTransactionEventsRequest');

        $_tempBody = $sdkTracker->insertDeveloperIdTracker($_tempBody, end($modelClassLocation), $this->apiClient->merchantConfig->getRunEnvironment(), $this->apiClient->merchantConfig->getDefaultDeveloperId());

        // for model (json/xml)
        if (isset($_tempBody) and count($formParams) <= 0) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = MultipartHelper::build_data_files($boundary, $formParams); // for HTTP post (form)
        }

        //MLE check and mle encryption for req body
        $inboundMLEStatus = 'mandatory';
        if (MLEUtility::checkIsMLEForAPI($this->apiClient->merchantConfig, $inboundMLEStatus, "confirmTransactionEvents,confirmTransactionEventsWithHttpInfo")) {
            try {
                $httpBody = MLEUtility::encryptRequestPayload($this->apiClient->merchantConfig, $httpBody);
            } catch (Exception $e) {
                self::$logger->error("Failed to encrypt request body:  $e");
                throw new ApiException("Failed to encrypt request body : " . $e->getMessage());
            }
        }

        
        // Logging
        self::$logger->debug("Resource : POST $resourcePath");
        if (isset($httpBody) and count($formParams) <= 0) {
            if ($this->apiClient->merchantConfig->getLogConfiguration()->isMaskingEnabled()) {
                $printHttpBody = \CyberSource\Utilities\Helpers\DataMasker::maskData($httpBody);
            } else {
                $printHttpBody = $httpBody;
            }
            
            self::$logger->debug("Body Parameter :\n" . $printHttpBody); 
        }

        self::$logger->debug("Return Type : \CyberSource\Model\AgenticConfirmTransactionEventsResponse202");
        
        // Response MLE check
        $isResponseMLEForAPI = MLEUtility::checkIsResponseMLEForAPI($this->apiClient->merchantConfig, "confirmTransactionEvents,confirmTransactionEventsWithHttpInfo");
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CyberSource\Model\AgenticConfirmTransactionEventsResponse202',
                '/icc/v1/instructions/{instructionId}/confirmations',
                $isResponseMLEForAPI
            );
            
            self::$logger->debug("Response Headers :\n" . \CyberSource\Utilities\Helpers\ListHelper::toString($httpHeader));

            return [$this->apiClient->getSerializer()->deserialize($response, '\CyberSource\Model\AgenticConfirmTransactionEventsResponse202', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 202:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticConfirmTransactionEventsResponse202', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticCardEnrollmentBadRequestResponse400', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticCardEnrollmentBadRequestResponse400', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 403:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticCardEnrollmentBadRequestResponse400', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticCardEnrollmentBadRequestResponse400', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 409:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticCardEnrollmentBadRequestResponse400', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticCardEnrollmentBadRequestResponse400', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            self::$logger->error("ApiException : $e");
            throw $e;
        }
    }

    /**
     * Operation createCheckoutSession
     *
     * Create Checkout Session ACP
     *
     * @param \CyberSource\Model\AcpCreateCheckoutSessionRequest $acpCreateCheckoutSessionRequest The cart contents and buyer context for this checkout session. &#x60;items&#x60; is required. &#x60;buyer&#x60; and &#x60;fulfillment_address&#x60; are optional on creation and can be provided via Update Session before completing checkout. (required)
     * @param string $idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned. (optional)
     * @param string $acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content. (optional)
     * @param string $userAgent Client user agent string identifying the AI agent platform and version. (optional)
     * @param string $requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers. (optional)
     * @param string $signature Request signature for payload integrity verification. (optional)
     * @param string $timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection. (optional)
     * @param string $aPIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed. (optional)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\InlineResponse20112, HTTP status code, HTTP response headers (array of strings)
     */
    public function createCheckoutSession($acpCreateCheckoutSessionRequest, $idempotencyKey = null, $acceptLanguage = null, $userAgent = null, $requestId = null, $signature = null, $timestamp = null, $aPIVersion = null)
    {
        self::$logger->info('CALL TO METHOD createCheckoutSession STARTED');
        list($response, $statusCode, $httpHeader) = $this->createCheckoutSessionWithHttpInfo($acpCreateCheckoutSessionRequest, $idempotencyKey, $acceptLanguage, $userAgent, $requestId, $signature, $timestamp, $aPIVersion);
        self::$logger->info('CALL TO METHOD createCheckoutSession ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }

    /**
     * Operation createCheckoutSessionWithHttpInfo
     *
     * Create Checkout Session ACP
     *
     * @param \CyberSource\Model\AcpCreateCheckoutSessionRequest $acpCreateCheckoutSessionRequest The cart contents and buyer context for this checkout session. &#x60;items&#x60; is required. &#x60;buyer&#x60; and &#x60;fulfillment_address&#x60; are optional on creation and can be provided via Update Session before completing checkout. (required)
     * @param string $idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned. (optional)
     * @param string $acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content. (optional)
     * @param string $userAgent Client user agent string identifying the AI agent platform and version. (optional)
     * @param string $requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers. (optional)
     * @param string $signature Request signature for payload integrity verification. (optional)
     * @param string $timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection. (optional)
     * @param string $aPIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed. (optional)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\InlineResponse20112, HTTP status code, HTTP response headers (array of strings)
     */
    public function createCheckoutSessionWithHttpInfo($acpCreateCheckoutSessionRequest, $idempotencyKey = null, $acceptLanguage = null, $userAgent = null, $requestId = null, $signature = null, $timestamp = null, $aPIVersion = null)
    {
        // verify the required parameter 'acpCreateCheckoutSessionRequest' is set
        if ($acpCreateCheckoutSessionRequest === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $acpCreateCheckoutSessionRequest when calling createCheckoutSession");
            throw new \InvalidArgumentException('Missing the required parameter $acpCreateCheckoutSessionRequest when calling createCheckoutSession');
        }
        // parse inputs
        $resourcePath = "/icc/v1/checkout_sessions";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/hal+json;charset=utf-8']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);

        // header params
        if ($idempotencyKey !== null) {
            $headerParams['Idempotency-Key'] = $this->apiClient->getSerializer()->toHeaderValue($idempotencyKey);
        }
        // header params
        if ($acceptLanguage !== null) {
            $headerParams['Accept-Language'] = $this->apiClient->getSerializer()->toHeaderValue($acceptLanguage);
        }
        // header params
        if ($userAgent !== null) {
            $headerParams['User-Agent'] = $this->apiClient->getSerializer()->toHeaderValue($userAgent);
        }
        // header params
        if ($requestId !== null) {
            $headerParams['Request-Id'] = $this->apiClient->getSerializer()->toHeaderValue($requestId);
        }
        // header params
        if ($signature !== null) {
            $headerParams['Signature'] = $this->apiClient->getSerializer()->toHeaderValue($signature);
        }
        // header params
        if ($timestamp !== null) {
            $headerParams['Timestamp'] = $this->apiClient->getSerializer()->toHeaderValue($timestamp);
        }
        // header params
        if ($aPIVersion !== null) {
            $headerParams['API-Version'] = $this->apiClient->getSerializer()->toHeaderValue($aPIVersion);
        }
        // body params
        $_tempBody = null;
        if (isset($acpCreateCheckoutSessionRequest)) {
            $_tempBody = $acpCreateCheckoutSessionRequest;
        }
        
        $sdkTracker = new \CyberSource\Utilities\Tracking\SdkTracker();
        $modelClassLocation = explode('\\', '\CyberSource\Model\AcpCreateCheckoutSessionRequest');

        $_tempBody = $sdkTracker->insertDeveloperIdTracker($_tempBody, end($modelClassLocation), $this->apiClient->merchantConfig->getRunEnvironment(), $this->apiClient->merchantConfig->getDefaultDeveloperId());

        // for model (json/xml)
        if (isset($_tempBody) and count($formParams) <= 0) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = MultipartHelper::build_data_files($boundary, $formParams); // for HTTP post (form)
        }

        //MLE check and mle encryption for req body
        $inboundMLEStatus = 'mandatory';
        if (MLEUtility::checkIsMLEForAPI($this->apiClient->merchantConfig, $inboundMLEStatus, "createCheckoutSession,createCheckoutSessionWithHttpInfo")) {
            try {
                $httpBody = MLEUtility::encryptRequestPayload($this->apiClient->merchantConfig, $httpBody);
            } catch (Exception $e) {
                self::$logger->error("Failed to encrypt request body:  $e");
                throw new ApiException("Failed to encrypt request body : " . $e->getMessage());
            }
        }

        
        // Logging
        self::$logger->debug("Resource : POST $resourcePath");
        if (isset($httpBody) and count($formParams) <= 0) {
            if ($this->apiClient->merchantConfig->getLogConfiguration()->isMaskingEnabled()) {
                $printHttpBody = \CyberSource\Utilities\Helpers\DataMasker::maskData($httpBody);
            } else {
                $printHttpBody = $httpBody;
            }
            
            self::$logger->debug("Body Parameter :\n" . $printHttpBody); 
        }

        self::$logger->debug("Return Type : \CyberSource\Model\InlineResponse20112");
        
        // Response MLE check
        $isResponseMLEForAPI = MLEUtility::checkIsResponseMLEForAPI($this->apiClient->merchantConfig, "createCheckoutSession,createCheckoutSessionWithHttpInfo");
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CyberSource\Model\InlineResponse20112',
                '/icc/v1/checkout_sessions',
                $isResponseMLEForAPI
            );
            
            self::$logger->debug("Response Headers :\n" . \CyberSource\Utilities\Helpers\ListHelper::toString($httpHeader));

            return [$this->apiClient->getSerializer()->deserialize($response, '\CyberSource\Model\InlineResponse20112', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse20112', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse40016', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse40016', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            self::$logger->error("ApiException : $e");
            throw $e;
        }
    }

    /**
     * Operation deactivateAgentKey
     *
     * Deactivate a key
     *
     * @param string $agentId Unique agent identifier (required)
     * @param string $keyId Unique key identifier (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of void, HTTP status code, HTTP response headers (array of strings)
     */
    public function deactivateAgentKey($agentId, $keyId)
    {
        self::$logger->info('CALL TO METHOD deactivateAgentKey STARTED');
        list($response, $statusCode, $httpHeader) = $this->deactivateAgentKeyWithHttpInfo($agentId, $keyId);
        self::$logger->info('CALL TO METHOD deactivateAgentKey ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }

    /**
     * Operation deactivateAgentKeyWithHttpInfo
     *
     * Deactivate a key
     *
     * @param string $agentId Unique agent identifier (required)
     * @param string $keyId Unique key identifier (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function deactivateAgentKeyWithHttpInfo($agentId, $keyId)
    {
        // verify the required parameter 'agentId' is set
        if ($agentId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $agentId when calling deactivateAgentKey");
            throw new \InvalidArgumentException('Missing the required parameter $agentId when calling deactivateAgentKey');
        }
        // verify the required parameter 'keyId' is set
        if ($keyId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $keyId when calling deactivateAgentKey");
            throw new \InvalidArgumentException('Missing the required parameter $keyId when calling deactivateAgentKey');
        }
        // parse inputs
        $resourcePath = "/icc/v1/agents/{agentId}/keys/{keyId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/hal+json;charset=utf-8']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);

        // path params
        if ($agentId !== null) {
            $resourcePath = str_replace(
                "{" . "agentId" . "}",
                $this->apiClient->getSerializer()->toPathValue($agentId),
                $resourcePath
            );
        }
        // path params
        if ($keyId !== null) {
            $resourcePath = str_replace(
                "{" . "keyId" . "}",
                $this->apiClient->getSerializer()->toPathValue($keyId),
                $resourcePath
            );
        }
        if ('DELETE' == 'POST') {
            $_tempBody = '{}';
        }

        // for model (json/xml)
        if (isset($_tempBody) and count($formParams) <= 0) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = MultipartHelper::build_data_files($boundary, $formParams); // for HTTP post (form)
        }

        //MLE check and mle encryption for req body
        $inboundMLEStatus = 'mandatory';
        if (MLEUtility::checkIsMLEForAPI($this->apiClient->merchantConfig, $inboundMLEStatus, "deactivateAgentKey,deactivateAgentKeyWithHttpInfo")) {
            try {
                $httpBody = MLEUtility::encryptRequestPayload($this->apiClient->merchantConfig, $httpBody);
            } catch (Exception $e) {
                self::$logger->error("Failed to encrypt request body:  $e");
                throw new ApiException("Failed to encrypt request body : " . $e->getMessage());
            }
        }

        
        // Logging
        self::$logger->debug("Resource : DELETE $resourcePath");
        if (isset($httpBody) and count($formParams) <= 0) {
            if ($this->apiClient->merchantConfig->getLogConfiguration()->isMaskingEnabled()) {
                $printHttpBody = \CyberSource\Utilities\Helpers\DataMasker::maskData($httpBody);
            } else {
                $printHttpBody = $httpBody;
            }
            
            self::$logger->debug("Body Parameter :\n" . $printHttpBody); 
        }

        self::$logger->debug("Return Type : null");
        
        // Response MLE check
        $isResponseMLEForAPI = MLEUtility::checkIsResponseMLEForAPI($this->apiClient->merchantConfig, "deactivateAgentKey,deactivateAgentKeyWithHttpInfo");
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/icc/v1/agents/{agentId}/keys/{keyId}',
                $isResponseMLEForAPI
            );
            
            self::$logger->debug("Response Headers :\n" . \CyberSource\Utilities\Helpers\ListHelper::toString($httpHeader));

            return [$response, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgentRegistrationConflictResponse409', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            self::$logger->error("ApiException : $e");
            throw $e;
        }
    }

    /**
     * Operation enrollCard
     *
     * Enroll a card
     *
     * @param \CyberSource\Model\AgenticCardEnrollmentRequest $agenticCardEnrollmentRequest  (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\AgenticCardEnrollmentResponse200, HTTP status code, HTTP response headers (array of strings)
     */
    public function enrollCard($agenticCardEnrollmentRequest)
    {
        self::$logger->info('CALL TO METHOD enrollCard STARTED');
        list($response, $statusCode, $httpHeader) = $this->enrollCardWithHttpInfo($agenticCardEnrollmentRequest);
        self::$logger->info('CALL TO METHOD enrollCard ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }

    /**
     * Operation enrollCardWithHttpInfo
     *
     * Enroll a card
     *
     * @param \CyberSource\Model\AgenticCardEnrollmentRequest $agenticCardEnrollmentRequest  (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\AgenticCardEnrollmentResponse200, HTTP status code, HTTP response headers (array of strings)
     */
    public function enrollCardWithHttpInfo($agenticCardEnrollmentRequest)
    {
        // verify the required parameter 'agenticCardEnrollmentRequest' is set
        if ($agenticCardEnrollmentRequest === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $agenticCardEnrollmentRequest when calling enrollCard");
            throw new \InvalidArgumentException('Missing the required parameter $agenticCardEnrollmentRequest when calling enrollCard');
        }
        // parse inputs
        $resourcePath = "/icc/v1/tokens";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/hal+json;charset=utf-8']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);

        // body params
        $_tempBody = null;
        if (isset($agenticCardEnrollmentRequest)) {
            $_tempBody = $agenticCardEnrollmentRequest;
        }
        
        $sdkTracker = new \CyberSource\Utilities\Tracking\SdkTracker();
        $modelClassLocation = explode('\\', '\CyberSource\Model\AgenticCardEnrollmentRequest');

        $_tempBody = $sdkTracker->insertDeveloperIdTracker($_tempBody, end($modelClassLocation), $this->apiClient->merchantConfig->getRunEnvironment(), $this->apiClient->merchantConfig->getDefaultDeveloperId());

        // for model (json/xml)
        if (isset($_tempBody) and count($formParams) <= 0) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = MultipartHelper::build_data_files($boundary, $formParams); // for HTTP post (form)
        }

        //MLE check and mle encryption for req body
        $inboundMLEStatus = 'mandatory';
        if (MLEUtility::checkIsMLEForAPI($this->apiClient->merchantConfig, $inboundMLEStatus, "enrollCard,enrollCardWithHttpInfo")) {
            try {
                $httpBody = MLEUtility::encryptRequestPayload($this->apiClient->merchantConfig, $httpBody);
            } catch (Exception $e) {
                self::$logger->error("Failed to encrypt request body:  $e");
                throw new ApiException("Failed to encrypt request body : " . $e->getMessage());
            }
        }

        
        // Logging
        self::$logger->debug("Resource : POST $resourcePath");
        if (isset($httpBody) and count($formParams) <= 0) {
            if ($this->apiClient->merchantConfig->getLogConfiguration()->isMaskingEnabled()) {
                $printHttpBody = \CyberSource\Utilities\Helpers\DataMasker::maskData($httpBody);
            } else {
                $printHttpBody = $httpBody;
            }
            
            self::$logger->debug("Body Parameter :\n" . $printHttpBody); 
        }

        self::$logger->debug("Return Type : \CyberSource\Model\AgenticCardEnrollmentResponse200");
        
        // Response MLE check
        $isResponseMLEForAPI = MLEUtility::checkIsResponseMLEForAPI($this->apiClient->merchantConfig, "enrollCard,enrollCardWithHttpInfo");
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CyberSource\Model\AgenticCardEnrollmentResponse200',
                '/icc/v1/tokens',
                $isResponseMLEForAPI
            );
            
            self::$logger->debug("Response Headers :\n" . \CyberSource\Utilities\Helpers\ListHelper::toString($httpHeader));

            return [$this->apiClient->getSerializer()->deserialize($response, '\CyberSource\Model\AgenticCardEnrollmentResponse200', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticCardEnrollmentResponse200', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 202:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticCardEnrollmentResponse202', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticCardEnrollmentBadRequestResponse400', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticCardEnrollmentBadRequestResponse400', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 403:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticCardEnrollmentBadRequestResponse400', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticCardEnrollmentBadRequestResponse400', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 409:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticCardEnrollmentBadRequestResponse400', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgenticCardEnrollmentBadRequestResponse400', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            self::$logger->error("ApiException : $e");
            throw $e;
        }
    }

    /**
     * Operation getAgent
     *
     * Get an agent
     *
     * @param string $agentId Unique agent identifier (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\AgentRegistrationResponse201, HTTP status code, HTTP response headers (array of strings)
     */
    public function getAgent($agentId)
    {
        self::$logger->info('CALL TO METHOD getAgent STARTED');
        list($response, $statusCode, $httpHeader) = $this->getAgentWithHttpInfo($agentId);
        self::$logger->info('CALL TO METHOD getAgent ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }

    /**
     * Operation getAgentWithHttpInfo
     *
     * Get an agent
     *
     * @param string $agentId Unique agent identifier (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\AgentRegistrationResponse201, HTTP status code, HTTP response headers (array of strings)
     */
    public function getAgentWithHttpInfo($agentId)
    {
        // verify the required parameter 'agentId' is set
        if ($agentId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $agentId when calling getAgent");
            throw new \InvalidArgumentException('Missing the required parameter $agentId when calling getAgent');
        }
        // parse inputs
        $resourcePath = "/icc/v1/agents/{agentId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/hal+json;charset=utf-8']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);

        // path params
        if ($agentId !== null) {
            $resourcePath = str_replace(
                "{" . "agentId" . "}",
                $this->apiClient->getSerializer()->toPathValue($agentId),
                $resourcePath
            );
        }
        if ('GET' == 'POST') {
            $_tempBody = '{}';
        }

        // for model (json/xml)
        if (isset($_tempBody) and count($formParams) <= 0) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = MultipartHelper::build_data_files($boundary, $formParams); // for HTTP post (form)
        }

        //MLE check and mle encryption for req body
        $inboundMLEStatus = 'false';
        if (MLEUtility::checkIsMLEForAPI($this->apiClient->merchantConfig, $inboundMLEStatus, "getAgent,getAgentWithHttpInfo")) {
            try {
                $httpBody = MLEUtility::encryptRequestPayload($this->apiClient->merchantConfig, $httpBody);
            } catch (Exception $e) {
                self::$logger->error("Failed to encrypt request body:  $e");
                throw new ApiException("Failed to encrypt request body : " . $e->getMessage());
            }
        }

        
        // Logging
        self::$logger->debug("Resource : GET $resourcePath");
        if (isset($httpBody) and count($formParams) <= 0) {
            if ($this->apiClient->merchantConfig->getLogConfiguration()->isMaskingEnabled()) {
                $printHttpBody = \CyberSource\Utilities\Helpers\DataMasker::maskData($httpBody);
            } else {
                $printHttpBody = $httpBody;
            }
            
            self::$logger->debug("Body Parameter :\n" . $printHttpBody); 
        }

        self::$logger->debug("Return Type : \CyberSource\Model\AgentRegistrationResponse201");
        
        // Response MLE check
        $isResponseMLEForAPI = MLEUtility::checkIsResponseMLEForAPI($this->apiClient->merchantConfig, "getAgent,getAgentWithHttpInfo");
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CyberSource\Model\AgentRegistrationResponse201',
                '/icc/v1/agents/{agentId}',
                $isResponseMLEForAPI
            );
            
            self::$logger->debug("Response Headers :\n" . \CyberSource\Utilities\Helpers\ListHelper::toString($httpHeader));

            return [$this->apiClient->getSerializer()->deserialize($response, '\CyberSource\Model\AgentRegistrationResponse201', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgentRegistrationResponse201', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgentRegistrationConflictResponse409', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            self::$logger->error("ApiException : $e");
            throw $e;
        }
    }

    /**
     * Operation getAgentKey
     *
     * Get a key by agent and key ID
     *
     * @param string $agentId Unique agent identifier (required)
     * @param string $keyId Unique key identifier (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\AddAgentKeyResponse201, HTTP status code, HTTP response headers (array of strings)
     */
    public function getAgentKey($agentId, $keyId)
    {
        self::$logger->info('CALL TO METHOD getAgentKey STARTED');
        list($response, $statusCode, $httpHeader) = $this->getAgentKeyWithHttpInfo($agentId, $keyId);
        self::$logger->info('CALL TO METHOD getAgentKey ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }

    /**
     * Operation getAgentKeyWithHttpInfo
     *
     * Get a key by agent and key ID
     *
     * @param string $agentId Unique agent identifier (required)
     * @param string $keyId Unique key identifier (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\AddAgentKeyResponse201, HTTP status code, HTTP response headers (array of strings)
     */
    public function getAgentKeyWithHttpInfo($agentId, $keyId)
    {
        // verify the required parameter 'agentId' is set
        if ($agentId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $agentId when calling getAgentKey");
            throw new \InvalidArgumentException('Missing the required parameter $agentId when calling getAgentKey');
        }
        // verify the required parameter 'keyId' is set
        if ($keyId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $keyId when calling getAgentKey");
            throw new \InvalidArgumentException('Missing the required parameter $keyId when calling getAgentKey');
        }
        // parse inputs
        $resourcePath = "/icc/v1/agents/{agentId}/keys/{keyId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/hal+json;charset=utf-8']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);

        // path params
        if ($agentId !== null) {
            $resourcePath = str_replace(
                "{" . "agentId" . "}",
                $this->apiClient->getSerializer()->toPathValue($agentId),
                $resourcePath
            );
        }
        // path params
        if ($keyId !== null) {
            $resourcePath = str_replace(
                "{" . "keyId" . "}",
                $this->apiClient->getSerializer()->toPathValue($keyId),
                $resourcePath
            );
        }
        if ('GET' == 'POST') {
            $_tempBody = '{}';
        }

        // for model (json/xml)
        if (isset($_tempBody) and count($formParams) <= 0) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = MultipartHelper::build_data_files($boundary, $formParams); // for HTTP post (form)
        }

        //MLE check and mle encryption for req body
        $inboundMLEStatus = 'false';
        if (MLEUtility::checkIsMLEForAPI($this->apiClient->merchantConfig, $inboundMLEStatus, "getAgentKey,getAgentKeyWithHttpInfo")) {
            try {
                $httpBody = MLEUtility::encryptRequestPayload($this->apiClient->merchantConfig, $httpBody);
            } catch (Exception $e) {
                self::$logger->error("Failed to encrypt request body:  $e");
                throw new ApiException("Failed to encrypt request body : " . $e->getMessage());
            }
        }

        
        // Logging
        self::$logger->debug("Resource : GET $resourcePath");
        if (isset($httpBody) and count($formParams) <= 0) {
            if ($this->apiClient->merchantConfig->getLogConfiguration()->isMaskingEnabled()) {
                $printHttpBody = \CyberSource\Utilities\Helpers\DataMasker::maskData($httpBody);
            } else {
                $printHttpBody = $httpBody;
            }
            
            self::$logger->debug("Body Parameter :\n" . $printHttpBody); 
        }

        self::$logger->debug("Return Type : \CyberSource\Model\AddAgentKeyResponse201");
        
        // Response MLE check
        $isResponseMLEForAPI = MLEUtility::checkIsResponseMLEForAPI($this->apiClient->merchantConfig, "getAgentKey,getAgentKeyWithHttpInfo");
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CyberSource\Model\AddAgentKeyResponse201',
                '/icc/v1/agents/{agentId}/keys/{keyId}',
                $isResponseMLEForAPI
            );
            
            self::$logger->debug("Response Headers :\n" . \CyberSource\Utilities\Helpers\ListHelper::toString($httpHeader));

            return [$this->apiClient->getSerializer()->deserialize($response, '\CyberSource\Model\AddAgentKeyResponse201', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AddAgentKeyResponse201', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\AgentRegistrationConflictResponse409', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            self::$logger->error("ApiException : $e");
            throw $e;
        }
    }

    /**
     * Operation getCheckoutSession
     *
     * Get Checkout Session ACP
     *
     * @param string $sessionId The unique identifier of the ACP checkout session to retrieve. Obtained from the &#x60;id&#x60; field in the Create Session response. (required)
     * @param object $acpGetCheckoutSessionRequest Empty request body. (required)
     * @param string $idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned. (optional)
     * @param string $acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content. (optional)
     * @param string $userAgent Client user agent string identifying the AI agent platform and version. (optional)
     * @param string $requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers. (optional)
     * @param string $signature Request signature for payload integrity verification. (optional)
     * @param string $timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection. (optional)
     * @param string $aPIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed. (optional)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\InlineResponse20112, HTTP status code, HTTP response headers (array of strings)
     */
    public function getCheckoutSession($sessionId, $acpGetCheckoutSessionRequest, $idempotencyKey = null, $acceptLanguage = null, $userAgent = null, $requestId = null, $signature = null, $timestamp = null, $aPIVersion = null)
    {
        self::$logger->info('CALL TO METHOD getCheckoutSession STARTED');
        list($response, $statusCode, $httpHeader) = $this->getCheckoutSessionWithHttpInfo($sessionId, $acpGetCheckoutSessionRequest, $idempotencyKey, $acceptLanguage, $userAgent, $requestId, $signature, $timestamp, $aPIVersion);
        self::$logger->info('CALL TO METHOD getCheckoutSession ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }

    /**
     * Operation getCheckoutSessionWithHttpInfo
     *
     * Get Checkout Session ACP
     *
     * @param string $sessionId The unique identifier of the ACP checkout session to retrieve. Obtained from the &#x60;id&#x60; field in the Create Session response. (required)
     * @param object $acpGetCheckoutSessionRequest Empty request body. (required)
     * @param string $idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned. (optional)
     * @param string $acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content. (optional)
     * @param string $userAgent Client user agent string identifying the AI agent platform and version. (optional)
     * @param string $requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers. (optional)
     * @param string $signature Request signature for payload integrity verification. (optional)
     * @param string $timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection. (optional)
     * @param string $aPIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed. (optional)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\InlineResponse20112, HTTP status code, HTTP response headers (array of strings)
     */
    public function getCheckoutSessionWithHttpInfo($sessionId, $acpGetCheckoutSessionRequest, $idempotencyKey = null, $acceptLanguage = null, $userAgent = null, $requestId = null, $signature = null, $timestamp = null, $aPIVersion = null)
    {
        // verify the required parameter 'sessionId' is set
        if ($sessionId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $sessionId when calling getCheckoutSession");
            throw new \InvalidArgumentException('Missing the required parameter $sessionId when calling getCheckoutSession');
        }
        // verify the required parameter 'acpGetCheckoutSessionRequest' is set
        if ($acpGetCheckoutSessionRequest === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $acpGetCheckoutSessionRequest when calling getCheckoutSession");
            throw new \InvalidArgumentException('Missing the required parameter $acpGetCheckoutSessionRequest when calling getCheckoutSession');
        }
        // parse inputs
        $resourcePath = "/icc/v1/checkout_sessions/{session_id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/hal+json;charset=utf-8']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);

        // header params
        if ($idempotencyKey !== null) {
            $headerParams['Idempotency-Key'] = $this->apiClient->getSerializer()->toHeaderValue($idempotencyKey);
        }
        // header params
        if ($acceptLanguage !== null) {
            $headerParams['Accept-Language'] = $this->apiClient->getSerializer()->toHeaderValue($acceptLanguage);
        }
        // header params
        if ($userAgent !== null) {
            $headerParams['User-Agent'] = $this->apiClient->getSerializer()->toHeaderValue($userAgent);
        }
        // header params
        if ($requestId !== null) {
            $headerParams['Request-Id'] = $this->apiClient->getSerializer()->toHeaderValue($requestId);
        }
        // header params
        if ($signature !== null) {
            $headerParams['Signature'] = $this->apiClient->getSerializer()->toHeaderValue($signature);
        }
        // header params
        if ($timestamp !== null) {
            $headerParams['Timestamp'] = $this->apiClient->getSerializer()->toHeaderValue($timestamp);
        }
        // header params
        if ($aPIVersion !== null) {
            $headerParams['API-Version'] = $this->apiClient->getSerializer()->toHeaderValue($aPIVersion);
        }
        // path params
        if ($sessionId !== null) {
            $resourcePath = str_replace(
                "{" . "session_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($sessionId),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($acpGetCheckoutSessionRequest)) {
            $_tempBody = $acpGetCheckoutSessionRequest;
        }
        
        $sdkTracker = new \CyberSource\Utilities\Tracking\SdkTracker();
        $modelClassLocation = explode('\\', 'object');

        $_tempBody = $sdkTracker->insertDeveloperIdTracker($_tempBody, end($modelClassLocation), $this->apiClient->merchantConfig->getRunEnvironment(), $this->apiClient->merchantConfig->getDefaultDeveloperId());

        // for model (json/xml)
        if (isset($_tempBody) and count($formParams) <= 0) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = MultipartHelper::build_data_files($boundary, $formParams); // for HTTP post (form)
        }

        //MLE check and mle encryption for req body
        $inboundMLEStatus = 'false';
[...]
