<?php
/**
 * ForeignExchangeRatesApi
 * PHP version 5
 *
 * @category Class
 * @package  CyberSource
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * CyberSource Merged Spec
 *
 * All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
 *
 * OpenAPI spec version: 0.0.1
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */
/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace CyberSource\Api;

use \CyberSource\ApiClient;
use \CyberSource\ApiException;
use \CyberSource\Configuration;
use \CyberSource\ObjectSerializer;
use \CyberSource\Logging\LogFactory as LogFactory;
use \CyberSource\Authentication\Util\MLEUtility;
use \CyberSource\Utilities\MultipartHelpers\MultipartHelper;
use \Exception;

/**
 * ForeignExchangeRatesApi Class Doc Comment
 *
 * @category Class
 * @package  CyberSource
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class ForeignExchangeRatesApi
{
    private static $logger = null;
    
    /**
     * API Client
     *
     * @var \CyberSource\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \CyberSource\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\CyberSource\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;

        if (self::$logger === null) {
            self::$logger = (new LogFactory())->getLogger(\CyberSource\Utilities\Helpers\ClassHelper::getClassName(get_class($this)), $apiClient->merchantConfig->getLogConfiguration());
        }
    }

    /**
     * Get API client
     *
     * @return \CyberSource\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \CyberSource\ApiClient $apiClient set the API client
     *
     * @return ForeignExchangeRatesApi
     */
    public function setApiClient(\CyberSource\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation createFxRates
     *
     * Retrieve Foreign Exchange Rates
     *
     * @param \CyberSource\Model\Body $body  (required)
     * @param string $contentType  (required)
     * @param string $xRequestid  (required)
     * @param string $vCMerchantId  (required)
     * @param string $vCPermissions  (required)
     * @param string $vCCorrelationId  (required)
     * @param string $vCOrganizationId  (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\InlineResponse2013, HTTP status code, HTTP response headers (array of strings)
     */
    public function createFxRates($body, $contentType, $xRequestid, $vCMerchantId, $vCPermissions, $vCCorrelationId, $vCOrganizationId)
    {
        self::$logger->info('CALL TO METHOD createFxRates STARTED');
        list($response, $statusCode, $httpHeader) = $this->createFxRatesWithHttpInfo($body, $contentType, $xRequestid, $vCMerchantId, $vCPermissions, $vCCorrelationId, $vCOrganizationId);
        self::$logger->info('CALL TO METHOD createFxRates ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }

    /**
     * Operation createFxRatesWithHttpInfo
     *
     * Retrieve Foreign Exchange Rates
     *
     * @param \CyberSource\Model\Body $body  (required)
     * @param string $contentType  (required)
     * @param string $xRequestid  (required)
     * @param string $vCMerchantId  (required)
     * @param string $vCPermissions  (required)
     * @param string $vCCorrelationId  (required)
     * @param string $vCOrganizationId  (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\InlineResponse2013, HTTP status code, HTTP response headers (array of strings)
     */
    public function createFxRatesWithHttpInfo($body, $contentType, $xRequestid, $vCMerchantId, $vCPermissions, $vCCorrelationId, $vCOrganizationId)
    {
        // verify the required parameter 'body' is set
        if ($body === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $body when calling createFxRates");
            throw new \InvalidArgumentException('Missing the required parameter $body when calling createFxRates');
        }
        // verify the required parameter 'contentType' is set
        if ($contentType === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $contentType when calling createFxRates");
            throw new \InvalidArgumentException('Missing the required parameter $contentType when calling createFxRates');
        }
        // verify the required parameter 'xRequestid' is set
        if ($xRequestid === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $xRequestid when calling createFxRates");
            throw new \InvalidArgumentException('Missing the required parameter $xRequestid when calling createFxRates');
        }
        // verify the required parameter 'vCMerchantId' is set
        if ($vCMerchantId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $vCMerchantId when calling createFxRates");
            throw new \InvalidArgumentException('Missing the required parameter $vCMerchantId when calling createFxRates');
        }
        // verify the required parameter 'vCPermissions' is set
        if ($vCPermissions === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $vCPermissions when calling createFxRates");
            throw new \InvalidArgumentException('Missing the required parameter $vCPermissions when calling createFxRates');
        }
        // verify the required parameter 'vCCorrelationId' is set
        if ($vCCorrelationId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $vCCorrelationId when calling createFxRates");
            throw new \InvalidArgumentException('Missing the required parameter $vCCorrelationId when calling createFxRates');
        }
        // verify the required parameter 'vCOrganizationId' is set
        if ($vCOrganizationId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $vCOrganizationId when calling createFxRates");
            throw new \InvalidArgumentException('Missing the required parameter $vCOrganizationId when calling createFxRates');
        }
        // parse inputs
        $resourcePath = "/pts/v2/payouts/fx-rates";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/hal+json;charset=utf-8']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);

        // header params
        if ($contentType !== null) {
            $headerParams['Content-Type'] = $this->apiClient->getSerializer()->toHeaderValue($contentType);
        }
        // header params
        if ($xRequestid !== null) {
            $headerParams['x-requestid'] = $this->apiClient->getSerializer()->toHeaderValue($xRequestid);
        }
        // header params
        if ($vCMerchantId !== null) {
            $headerParams['v-c-merchant-id'] = $this->apiClient->getSerializer()->toHeaderValue($vCMerchantId);
        }
        // header params
        if ($vCPermissions !== null) {
            $headerParams['v-c-permissions'] = $this->apiClient->getSerializer()->toHeaderValue($vCPermissions);
        }
        // header params
        if ($vCCorrelationId !== null) {
            $headerParams['v-c-correlation-id'] = $this->apiClient->getSerializer()->toHeaderValue($vCCorrelationId);
        }
        // header params
        if ($vCOrganizationId !== null) {
            $headerParams['v-c-organization-id'] = $this->apiClient->getSerializer()->toHeaderValue($vCOrganizationId);
        }
        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }
        
        $sdkTracker = new \CyberSource\Utilities\Tracking\SdkTracker();
        $modelClassLocation = explode('\\', '\CyberSource\Model\Body');

        $_tempBody = $sdkTracker->insertDeveloperIdTracker($_tempBody, end($modelClassLocation), $this->apiClient->merchantConfig->getRunEnvironment(), $this->apiClient->merchantConfig->getDefaultDeveloperId());

        // for model (json/xml)
        if (isset($_tempBody) and count($formParams) <= 0) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = MultipartHelper::build_data_files($boundary, $formParams); // for HTTP post (form)
        }

        //MLE check and mle encryption for req body
        $inboundMLEStatus = 'mandatory';
        if (MLEUtility::checkIsMLEForAPI($this->apiClient->merchantConfig, $inboundMLEStatus, "createFxRates,createFxRatesWithHttpInfo")) {
            try {
                $httpBody = MLEUtility::encryptRequestPayload($this->apiClient->merchantConfig, $httpBody);
            } catch (Exception $e) {
                self::$logger->error("Failed to encrypt request body:  $e");
                throw new ApiException("Failed to encrypt request body : " . $e->getMessage());
            }
        }

        
        // Logging
        self::$logger->debug("Resource : POST $resourcePath");
        if (isset($httpBody) and count($formParams) <= 0) {
            if ($this->apiClient->merchantConfig->getLogConfiguration()->isMaskingEnabled()) {
                $printHttpBody = \CyberSource\Utilities\Helpers\DataMasker::maskData($httpBody);
            } else {
                $printHttpBody = $httpBody;
            }
            
            self::$logger->debug("Body Parameter :\n" . $printHttpBody); 
        }

        self::$logger->debug("Return Type : \CyberSource\Model\InlineResponse2013");
        
        // Response MLE check
        $isResponseMLEForAPI = MLEUtility::checkIsResponseMLEForAPI($this->apiClient->merchantConfig, "createFxRates,createFxRatesWithHttpInfo");
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CyberSource\Model\InlineResponse2013',
                '/pts/v2/payouts/fx-rates',
                $isResponseMLEForAPI
            );
            
            self::$logger->debug("Response Headers :\n" . \CyberSource\Utilities\Helpers\ListHelper::toString($httpHeader));

            return [$this->apiClient->getSerializer()->deserialize($response, '\CyberSource\Model\InlineResponse2013', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse2013', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse4003', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse401', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 502:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse5022', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            self::$logger->error("ApiException : $e");
            throw $e;
        }
    }
}
