<?php
/**
 * PullFundsApi
 * PHP version 5
 *
 * @category Class
 * @package  CyberSource
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * CyberSource Merged Spec
 *
 * All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
 *
 * OpenAPI spec version: 0.0.1
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */
/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace CyberSource\Api;

use \CyberSource\ApiClient;
use \CyberSource\ApiException;
use \CyberSource\Configuration;
use \CyberSource\ObjectSerializer;
use \CyberSource\Logging\LogFactory as LogFactory;
use \CyberSource\Authentication\Util\MLEUtility;
use \CyberSource\Utilities\MultipartHelpers\MultipartHelper;
use \Exception;

/**
 * PullFundsApi Class Doc Comment
 *
 * @category Class
 * @package  CyberSource
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class PullFundsApi
{
    private static $logger = null;
    
    /**
     * API Client
     *
     * @var \CyberSource\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \CyberSource\ApiClient|null $apiClient The api client to use
     */
    public function __construct(?\CyberSource\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;

        if (self::$logger === null) {
            self::$logger = (new LogFactory())->getLogger(\CyberSource\Utilities\Helpers\ClassHelper::getClassName(get_class($this)), $apiClient->merchantConfig->getLogConfiguration());
        }
    }

    /**
     * Get API client
     *
     * @return \CyberSource\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \CyberSource\ApiClient $apiClient set the API client
     *
     * @return PullFundsApi
     */
    public function setApiClient(\CyberSource\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation createPullFundsRefund
     *
     * Process a Pull Funds Refund
     *
     * @param \CyberSource\Model\PullFundsRefundRequest $pullFundsRefundRequest  (required)
     * @param string $id The transaction id of a previous Account Funding Transaction. (required)
     * @param string $contentType  (required)
     * @param string $xRequestid  (required)
     * @param string $vCMerchantId  (required)
     * @param string $vCPermissions  (required)
     * @param string $vCCorrelationId  (required)
     * @param string $vCOrganizationId  (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\PullFundsRefund201Response, HTTP status code, HTTP response headers (array of strings)
     */
    public function createPullFundsRefund($pullFundsRefundRequest, $id, $contentType, $xRequestid, $vCMerchantId, $vCPermissions, $vCCorrelationId, $vCOrganizationId)
    {
        self::$logger->info('CALL TO METHOD createPullFundsRefund STARTED');
        list($response, $statusCode, $httpHeader) = $this->createPullFundsRefundWithHttpInfo($pullFundsRefundRequest, $id, $contentType, $xRequestid, $vCMerchantId, $vCPermissions, $vCCorrelationId, $vCOrganizationId);
        self::$logger->info('CALL TO METHOD createPullFundsRefund ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }

    /**
     * Operation createPullFundsRefundWithHttpInfo
     *
     * Process a Pull Funds Refund
     *
     * @param \CyberSource\Model\PullFundsRefundRequest $pullFundsRefundRequest  (required)
     * @param string $id The transaction id of a previous Account Funding Transaction. (required)
     * @param string $contentType  (required)
     * @param string $xRequestid  (required)
     * @param string $vCMerchantId  (required)
     * @param string $vCPermissions  (required)
     * @param string $vCCorrelationId  (required)
     * @param string $vCOrganizationId  (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\PullFundsRefund201Response, HTTP status code, HTTP response headers (array of strings)
     */
    public function createPullFundsRefundWithHttpInfo($pullFundsRefundRequest, $id, $contentType, $xRequestid, $vCMerchantId, $vCPermissions, $vCCorrelationId, $vCOrganizationId)
    {
        // verify the required parameter 'pullFundsRefundRequest' is set
        if ($pullFundsRefundRequest === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $pullFundsRefundRequest when calling createPullFundsRefund");
            throw new \InvalidArgumentException('Missing the required parameter $pullFundsRefundRequest when calling createPullFundsRefund');
        }
        // verify the required parameter 'id' is set
        if ($id === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $id when calling createPullFundsRefund");
            throw new \InvalidArgumentException('Missing the required parameter $id when calling createPullFundsRefund');
        }
        // verify the required parameter 'contentType' is set
        if ($contentType === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $contentType when calling createPullFundsRefund");
            throw new \InvalidArgumentException('Missing the required parameter $contentType when calling createPullFundsRefund');
        }
        // verify the required parameter 'xRequestid' is set
        if ($xRequestid === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $xRequestid when calling createPullFundsRefund");
            throw new \InvalidArgumentException('Missing the required parameter $xRequestid when calling createPullFundsRefund');
        }
        // verify the required parameter 'vCMerchantId' is set
        if ($vCMerchantId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $vCMerchantId when calling createPullFundsRefund");
            throw new \InvalidArgumentException('Missing the required parameter $vCMerchantId when calling createPullFundsRefund');
        }
        // verify the required parameter 'vCPermissions' is set
        if ($vCPermissions === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $vCPermissions when calling createPullFundsRefund");
            throw new \InvalidArgumentException('Missing the required parameter $vCPermissions when calling createPullFundsRefund');
        }
        // verify the required parameter 'vCCorrelationId' is set
        if ($vCCorrelationId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $vCCorrelationId when calling createPullFundsRefund");
            throw new \InvalidArgumentException('Missing the required parameter $vCCorrelationId when calling createPullFundsRefund');
        }
        // verify the required parameter 'vCOrganizationId' is set
        if ($vCOrganizationId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $vCOrganizationId when calling createPullFundsRefund");
            throw new \InvalidArgumentException('Missing the required parameter $vCOrganizationId when calling createPullFundsRefund');
        }
        // parse inputs
        $resourcePath = "/pts/v1/pull-funds-transfer/{id}/refund";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/hal+json;charset=utf-8']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);

        // header params
        if ($contentType !== null) {
            $headerParams['Content-Type'] = $this->apiClient->getSerializer()->toHeaderValue($contentType);
        }
        // header params
        if ($xRequestid !== null) {
            $headerParams['x-requestid'] = $this->apiClient->getSerializer()->toHeaderValue($xRequestid);
        }
        // header params
        if ($vCMerchantId !== null) {
            $headerParams['v-c-merchant-id'] = $this->apiClient->getSerializer()->toHeaderValue($vCMerchantId);
        }
        // header params
        if ($vCPermissions !== null) {
            $headerParams['v-c-permissions'] = $this->apiClient->getSerializer()->toHeaderValue($vCPermissions);
        }
        // header params
        if ($vCCorrelationId !== null) {
            $headerParams['v-c-correlation-id'] = $this->apiClient->getSerializer()->toHeaderValue($vCCorrelationId);
        }
        // header params
        if ($vCOrganizationId !== null) {
            $headerParams['v-c-organization-id'] = $this->apiClient->getSerializer()->toHeaderValue($vCOrganizationId);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($pullFundsRefundRequest)) {
            $_tempBody = $pullFundsRefundRequest;
        }
        
        $sdkTracker = new \CyberSource\Utilities\Tracking\SdkTracker();
        $modelClassLocation = explode('\\', '\CyberSource\Model\PullFundsRefundRequest');

        $_tempBody = $sdkTracker->insertDeveloperIdTracker($_tempBody, end($modelClassLocation), $this->apiClient->merchantConfig->getRunEnvironment(), $this->apiClient->merchantConfig->getDefaultDeveloperId());

        // for model (json/xml)
        if (isset($_tempBody) and count($formParams) <= 0) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = MultipartHelper::build_data_files($boundary, $formParams); // for HTTP post (form)
        }

        //MLE check and mle encryption for req body
        $inboundMLEStatus = 'optional';
        if (MLEUtility::checkIsMLEForAPI($this->apiClient->merchantConfig, $inboundMLEStatus, "createPullFundsRefund,createPullFundsRefundWithHttpInfo")) {
            try {
                $httpBody = MLEUtility::encryptRequestPayload($this->apiClient->merchantConfig, $httpBody);
            } catch (Exception $e) {
                self::$logger->error("Failed to encrypt request body:  $e");
                throw new ApiException("Failed to encrypt request body : " . $e->getMessage());
            }
        }

        
        // Logging
        self::$logger->debug("Resource : POST $resourcePath");
        if (isset($httpBody) and count($formParams) <= 0) {
            if ($this->apiClient->merchantConfig->getLogConfiguration()->isMaskingEnabled()) {
                $printHttpBody = \CyberSource\Utilities\Helpers\DataMasker::maskData($httpBody);
            } else {
                $printHttpBody = $httpBody;
            }
            
            self::$logger->debug("Body Parameter :\n" . $printHttpBody); 
        }

        self::$logger->debug("Return Type : \CyberSource\Model\PullFundsRefund201Response");
        
        // Response MLE check
        $isResponseMLEForAPI = MLEUtility::checkIsResponseMLEForAPI($this->apiClient->merchantConfig, "createPullFundsRefund,createPullFundsRefundWithHttpInfo");
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CyberSource\Model\PullFundsRefund201Response',
                '/pts/v1/pull-funds-transfer/{id}/refund',
                $isResponseMLEForAPI
            );
            
            self::$logger->debug("Response Headers :\n" . \CyberSource\Utilities\Helpers\ListHelper::toString($httpHeader));

            return [$this->apiClient->getSerializer()->deserialize($response, '\CyberSource\Model\PullFundsRefund201Response', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\PullFundsRefund201Response', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\PushFunds400Response', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\PushFunds401Response', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\PushFunds404Response', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 502:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\PushFunds502Response', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            self::$logger->error("ApiException : $e");
            throw $e;
        }
    }

    /**
     * Operation createPullFundsReversal
     *
     * Process a Pull Funds Reversal
     *
     * @param \CyberSource\Model\PullFundsReversalRequest $pullFundsReversalRequest  (required)
     * @param string $id The transaction id of a previous Account Funding Transaction. (required)
     * @param string $contentType  (required)
     * @param string $xRequestid  (required)
     * @param string $vCMerchantId  (required)
     * @param string $vCPermissions  (required)
     * @param string $vCCorrelationId  (required)
     * @param string $vCOrganizationId  (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\PullFundsReversal201Response, HTTP status code, HTTP response headers (array of strings)
     */
    public function createPullFundsReversal($pullFundsReversalRequest, $id, $contentType, $xRequestid, $vCMerchantId, $vCPermissions, $vCCorrelationId, $vCOrganizationId)
    {
        self::$logger->info('CALL TO METHOD createPullFundsReversal STARTED');
        list($response, $statusCode, $httpHeader) = $this->createPullFundsReversalWithHttpInfo($pullFundsReversalRequest, $id, $contentType, $xRequestid, $vCMerchantId, $vCPermissions, $vCCorrelationId, $vCOrganizationId);
        self::$logger->info('CALL TO METHOD createPullFundsReversal ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }

    /**
     * Operation createPullFundsReversalWithHttpInfo
     *
     * Process a Pull Funds Reversal
     *
     * @param \CyberSource\Model\PullFundsReversalRequest $pullFundsReversalRequest  (required)
     * @param string $id The transaction id of a previous Account Funding Transaction. (required)
     * @param string $contentType  (required)
     * @param string $xRequestid  (required)
     * @param string $vCMerchantId  (required)
     * @param string $vCPermissions  (required)
     * @param string $vCCorrelationId  (required)
     * @param string $vCOrganizationId  (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\PullFundsReversal201Response, HTTP status code, HTTP response headers (array of strings)
     */
    public function createPullFundsReversalWithHttpInfo($pullFundsReversalRequest, $id, $contentType, $xRequestid, $vCMerchantId, $vCPermissions, $vCCorrelationId, $vCOrganizationId)
    {
        // verify the required parameter 'pullFundsReversalRequest' is set
        if ($pullFundsReversalRequest === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $pullFundsReversalRequest when calling createPullFundsReversal");
            throw new \InvalidArgumentException('Missing the required parameter $pullFundsReversalRequest when calling createPullFundsReversal');
        }
        // verify the required parameter 'id' is set
        if ($id === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $id when calling createPullFundsReversal");
            throw new \InvalidArgumentException('Missing the required parameter $id when calling createPullFundsReversal');
        }
        // verify the required parameter 'contentType' is set
        if ($contentType === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $contentType when calling createPullFundsReversal");
            throw new \InvalidArgumentException('Missing the required parameter $contentType when calling createPullFundsReversal');
        }
        // verify the required parameter 'xRequestid' is set
        if ($xRequestid === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $xRequestid when calling createPullFundsReversal");
            throw new \InvalidArgumentException('Missing the required parameter $xRequestid when calling createPullFundsReversal');
        }
        // verify the required parameter 'vCMerchantId' is set
        if ($vCMerchantId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $vCMerchantId when calling createPullFundsReversal");
            throw new \InvalidArgumentException('Missing the required parameter $vCMerchantId when calling createPullFundsReversal');
        }
        // verify the required parameter 'vCPermissions' is set
        if ($vCPermissions === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $vCPermissions when calling createPullFundsReversal");
            throw new \InvalidArgumentException('Missing the required parameter $vCPermissions when calling createPullFundsReversal');
        }
        // verify the required parameter 'vCCorrelationId' is set
        if ($vCCorrelationId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $vCCorrelationId when calling createPullFundsReversal");
            throw new \InvalidArgumentException('Missing the required parameter $vCCorrelationId when calling createPullFundsReversal');
        }
        // verify the required parameter 'vCOrganizationId' is set
        if ($vCOrganizationId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $vCOrganizationId when calling createPullFundsReversal");
            throw new \InvalidArgumentException('Missing the required parameter $vCOrganizationId when calling createPullFundsReversal');
        }
        // parse inputs
        $resourcePath = "/pts/v1/pull-funds-transfer/{id}/reversal";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/hal+json;charset=utf-8']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);

        // header params
        if ($contentType !== null) {
            $headerParams['Content-Type'] = $this->apiClient->getSerializer()->toHeaderValue($contentType);
        }
        // header params
        if ($xRequestid !== null) {
            $headerParams['x-requestid'] = $this->apiClient->getSerializer()->toHeaderValue($xRequestid);
        }
        // header params
        if ($vCMerchantId !== null) {
            $headerParams['v-c-merchant-id'] = $this->apiClient->getSerializer()->toHeaderValue($vCMerchantId);
        }
        // header params
        if ($vCPermissions !== null) {
            $headerParams['v-c-permissions'] = $this->apiClient->getSerializer()->toHeaderValue($vCPermissions);
        }
        // header params
        if ($vCCorrelationId !== null) {
            $headerParams['v-c-correlation-id'] = $this->apiClient->getSerializer()->toHeaderValue($vCCorrelationId);
        }
        // header params
        if ($vCOrganizationId !== null) {
            $headerParams['v-c-organization-id'] = $this->apiClient->getSerializer()->toHeaderValue($vCOrganizationId);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($pullFundsReversalRequest)) {
            $_tempBody = $pullFundsReversalRequest;
        }
        
        $sdkTracker = new \CyberSource\Utilities\Tracking\SdkTracker();
        $modelClassLocation = explode('\\', '\CyberSource\Model\PullFundsReversalRequest');

        $_tempBody = $sdkTracker->insertDeveloperIdTracker($_tempBody, end($modelClassLocation), $this->apiClient->merchantConfig->getRunEnvironment(), $this->apiClient->merchantConfig->getDefaultDeveloperId());

        // for model (json/xml)
        if (isset($_tempBody) and count($formParams) <= 0) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = MultipartHelper::build_data_files($boundary, $formParams); // for HTTP post (form)
        }

        //MLE check and mle encryption for req body
        $inboundMLEStatus = 'optional';
        if (MLEUtility::checkIsMLEForAPI($this->apiClient->merchantConfig, $inboundMLEStatus, "createPullFundsReversal,createPullFundsReversalWithHttpInfo")) {
            try {
                $httpBody = MLEUtility::encryptRequestPayload($this->apiClient->merchantConfig, $httpBody);
            } catch (Exception $e) {
                self::$logger->error("Failed to encrypt request body:  $e");
                throw new ApiException("Failed to encrypt request body : " . $e->getMessage());
            }
        }

        
        // Logging
        self::$logger->debug("Resource : POST $resourcePath");
        if (isset($httpBody) and count($formParams) <= 0) {
            if ($this->apiClient->merchantConfig->getLogConfiguration()->isMaskingEnabled()) {
                $printHttpBody = \CyberSource\Utilities\Helpers\DataMasker::maskData($httpBody);
            } else {
                $printHttpBody = $httpBody;
            }
            
            self::$logger->debug("Body Parameter :\n" . $printHttpBody); 
        }

        self::$logger->debug("Return Type : \CyberSource\Model\PullFundsReversal201Response");
        
        // Response MLE check
        $isResponseMLEForAPI = MLEUtility::checkIsResponseMLEForAPI($this->apiClient->merchantConfig, "createPullFundsReversal,createPullFundsReversalWithHttpInfo");
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CyberSource\Model\PullFundsReversal201Response',
                '/pts/v1/pull-funds-transfer/{id}/reversal',
                $isResponseMLEForAPI
            );
            
            self::$logger->debug("Response Headers :\n" . \CyberSource\Utilities\Helpers\ListHelper::toString($httpHeader));

            return [$this->apiClient->getSerializer()->deserialize($response, '\CyberSource\Model\PullFundsReversal201Response', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\PullFundsReversal201Response', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\PullFundsReversal400Response', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\PushFunds401Response', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\PushFunds404Response', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 502:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\PushFunds502Response', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            self::$logger->error("ApiException : $e");
            throw $e;
        }
    }

    /**
     * Operation createPullFundsTransfer
     *
     * Process a Pull Funds Transfer
     *
     * @param \CyberSource\Model\PullFundsRequest $pullFundsRequest  (required)
     * @param string $contentType  (required)
     * @param string $xRequestid  (required)
     * @param string $vCMerchantId  (required)
     * @param string $vCPermissions  (required)
     * @param string $vCCorrelationId  (required)
     * @param string $vCOrganizationId  (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\PullFunds201Response, HTTP status code, HTTP response headers (array of strings)
     */
    public function createPullFundsTransfer($pullFundsRequest, $contentType, $xRequestid, $vCMerchantId, $vCPermissions, $vCCorrelationId, $vCOrganizationId)
    {
        self::$logger->info('CALL TO METHOD createPullFundsTransfer STARTED');
        list($response, $statusCode, $httpHeader) = $this->createPullFundsTransferWithHttpInfo($pullFundsRequest, $contentType, $xRequestid, $vCMerchantId, $vCPermissions, $vCCorrelationId, $vCOrganizationId);
        self::$logger->info('CALL TO METHOD createPullFundsTransfer ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }

    /**
     * Operation createPullFundsTransferWithHttpInfo
     *
     * Process a Pull Funds Transfer
     *
     * @param \CyberSource\Model\PullFundsRequest $pullFundsRequest  (required)
     * @param string $contentType  (required)
     * @param string $xRequestid  (required)
     * @param string $vCMerchantId  (required)
     * @param string $vCPermissions  (required)
     * @param string $vCCorrelationId  (required)
     * @param string $vCOrganizationId  (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of \CyberSource\Model\PullFunds201Response, HTTP status code, HTTP response headers (array of strings)
     */
    public function createPullFundsTransferWithHttpInfo($pullFundsRequest, $contentType, $xRequestid, $vCMerchantId, $vCPermissions, $vCCorrelationId, $vCOrganizationId)
    {
        // verify the required parameter 'pullFundsRequest' is set
        if ($pullFundsRequest === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $pullFundsRequest when calling createPullFundsTransfer");
            throw new \InvalidArgumentException('Missing the required parameter $pullFundsRequest when calling createPullFundsTransfer');
        }
        // verify the required parameter 'contentType' is set
        if ($contentType === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $contentType when calling createPullFundsTransfer");
            throw new \InvalidArgumentException('Missing the required parameter $contentType when calling createPullFundsTransfer');
        }
        // verify the required parameter 'xRequestid' is set
        if ($xRequestid === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $xRequestid when calling createPullFundsTransfer");
            throw new \InvalidArgumentException('Missing the required parameter $xRequestid when calling createPullFundsTransfer');
        }
        // verify the required parameter 'vCMerchantId' is set
        if ($vCMerchantId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $vCMerchantId when calling createPullFundsTransfer");
            throw new \InvalidArgumentException('Missing the required parameter $vCMerchantId when calling createPullFundsTransfer');
        }
        // verify the required parameter 'vCPermissions' is set
        if ($vCPermissions === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $vCPermissions when calling createPullFundsTransfer");
            throw new \InvalidArgumentException('Missing the required parameter $vCPermissions when calling createPullFundsTransfer');
        }
        // verify the required parameter 'vCCorrelationId' is set
        if ($vCCorrelationId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $vCCorrelationId when calling createPullFundsTransfer");
            throw new \InvalidArgumentException('Missing the required parameter $vCCorrelationId when calling createPullFundsTransfer');
        }
        // verify the required parameter 'vCOrganizationId' is set
        if ($vCOrganizationId === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $vCOrganizationId when calling createPullFundsTransfer");
            throw new \InvalidArgumentException('Missing the required parameter $vCOrganizationId when calling createPullFundsTransfer');
        }
        // parse inputs
        $resourcePath = "/pts/v1/pull-funds-transfer";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/hal+json;charset=utf-8']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);

        // header params
        if ($contentType !== null) {
            $headerParams['Content-Type'] = $this->apiClient->getSerializer()->toHeaderValue($contentType);
        }
        // header params
        if ($xRequestid !== null) {
            $headerParams['x-requestid'] = $this->apiClient->getSerializer()->toHeaderValue($xRequestid);
        }
        // header params
        if ($vCMerchantId !== null) {
            $headerParams['v-c-merchant-id'] = $this->apiClient->getSerializer()->toHeaderValue($vCMerchantId);
        }
        // header params
        if ($vCPermissions !== null) {
            $headerParams['v-c-permissions'] = $this->apiClient->getSerializer()->toHeaderValue($vCPermissions);
        }
        // header params
        if ($vCCorrelationId !== null) {
            $headerParams['v-c-correlation-id'] = $this->apiClient->getSerializer()->toHeaderValue($vCCorrelationId);
        }
        // header params
        if ($vCOrganizationId !== null) {
            $headerParams['v-c-organization-id'] = $this->apiClient->getSerializer()->toHeaderValue($vCOrganizationId);
        }
        // body params
        $_tempBody = null;
        if (isset($pullFundsRequest)) {
            $_tempBody = $pullFundsRequest;
        }
        
        $sdkTracker = new \CyberSource\Utilities\Tracking\SdkTracker();
        $modelClassLocation = explode('\\', '\CyberSource\Model\PullFundsRequest');

        $_tempBody = $sdkTracker->insertDeveloperIdTracker($_tempBody, end($modelClassLocation), $this->apiClient->merchantConfig->getRunEnvironment(), $this->apiClient->merchantConfig->getDefaultDeveloperId());

        // for model (json/xml)
        if (isset($_tempBody) and count($formParams) <= 0) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = MultipartHelper::build_data_files($boundary, $formParams); // for HTTP post (form)
        }

        //MLE check and mle encryption for req body
        $inboundMLEStatus = 'optional';
        if (MLEUtility::checkIsMLEForAPI($this->apiClient->merchantConfig, $inboundMLEStatus, "createPullFundsTransfer,createPullFundsTransferWithHttpInfo")) {
            try {
                $httpBody = MLEUtility::encryptRequestPayload($this->apiClient->merchantConfig, $httpBody);
            } catch (Exception $e) {
                self::$logger->error("Failed to encrypt request body:  $e");
                throw new ApiException("Failed to encrypt request body : " . $e->getMessage());
            }
        }

        
        // Logging
        self::$logger->debug("Resource : POST $resourcePath");
        if (isset($httpBody) and count($formParams) <= 0) {
            if ($this->apiClient->merchantConfig->getLogConfiguration()->isMaskingEnabled()) {
                $printHttpBody = \CyberSource\Utilities\Helpers\DataMasker::maskData($httpBody);
            } else {
                $printHttpBody = $httpBody;
            }
            
            self::$logger->debug("Body Parameter :\n" . $printHttpBody); 
        }

        self::$logger->debug("Return Type : \CyberSource\Model\PullFunds201Response");
        
        // Response MLE check
        $isResponseMLEForAPI = MLEUtility::checkIsResponseMLEForAPI($this->apiClient->merchantConfig, "createPullFundsTransfer,createPullFundsTransferWithHttpInfo");
        
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\CyberSource\Model\PullFunds201Response',
                '/pts/v1/pull-funds-transfer',
                $isResponseMLEForAPI
            );
            
            self::$logger->debug("Response Headers :\n" . \CyberSource\Utilities\Helpers\ListHelper::toString($httpHeader));

            return [$this->apiClient->getSerializer()->deserialize($response, '\CyberSource\Model\PullFunds201Response', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\PullFunds201Response', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\PushFunds400Response', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\PushFunds401Response', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\PushFunds404Response', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 502:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\PushFunds502Response', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            self::$logger->error("ApiException : $e");
            throw $e;
        }
    }
}
