<?php
/**
 * UnifiedCheckoutCaptureContextApi
 * PHP version 5
 *
 * @category Class
 * @package  CyberSource
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * CyberSource Merged Spec
 *
 * All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
 *
 * OpenAPI spec version: 0.0.1
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace CyberSource\Api;

use \CyberSource\ApiClient;
use \CyberSource\ApiException;
use \CyberSource\Configuration;
use \CyberSource\ObjectSerializer;
use \CyberSource\Logging\LogFactory as LogFactory;

/**
 * UnifiedCheckoutCaptureContextApi Class Doc Comment
 *
 * @category Class
 * @package  CyberSource
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class UnifiedCheckoutCaptureContextApi
{
    private static $logger = null;
    
    /**
     * API Client
     *
     * @var \CyberSource\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \CyberSource\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\CyberSource\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;

        if (self::$logger === null) {
            self::$logger = (new LogFactory())->getLogger(\CyberSource\Utilities\Helpers\ClassHelper::getClassName(get_class()), $apiClient->merchantConfig->getLogConfiguration());
        }
    }

    /**
     * Get API client
     *
     * @return \CyberSource\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \CyberSource\ApiClient $apiClient set the API client
     *
     * @return UnifiedCheckoutCaptureContextApi
     */
    public function setApiClient(\CyberSource\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation generateUnifiedCheckoutCaptureContext
     *
     * Generate Unified Checkout Capture Context
     *
     * @param \CyberSource\Model\GenerateUnifiedCheckoutCaptureContextRequest $generateUnifiedCheckoutCaptureContextRequest  (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of void, HTTP status code, HTTP response headers (array of strings)
     */
    public function generateUnifiedCheckoutCaptureContext($generateUnifiedCheckoutCaptureContextRequest)
    {
        self::$logger->info('CALL TO METHOD generateUnifiedCheckoutCaptureContext STARTED');
        list($response, $statusCode, $httpHeader) = $this->generateUnifiedCheckoutCaptureContextWithHttpInfo($generateUnifiedCheckoutCaptureContextRequest);
        self::$logger->info('CALL TO METHOD generateUnifiedCheckoutCaptureContext ENDED');
        self::$logger->close();
        return [$response, $statusCode, $httpHeader];
    }

    /**
     * Operation generateUnifiedCheckoutCaptureContextWithHttpInfo
     *
     * Generate Unified Checkout Capture Context
     *
     * @param \CyberSource\Model\GenerateUnifiedCheckoutCaptureContextRequest $generateUnifiedCheckoutCaptureContextRequest  (required)
     * @throws \CyberSource\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function generateUnifiedCheckoutCaptureContextWithHttpInfo($generateUnifiedCheckoutCaptureContextRequest)
    {
        // verify the required parameter 'generateUnifiedCheckoutCaptureContextRequest' is set
        if ($generateUnifiedCheckoutCaptureContextRequest === null) {
            self::$logger->error("InvalidArgumentException : Missing the required parameter $generateUnifiedCheckoutCaptureContextRequest when calling generateUnifiedCheckoutCaptureContext");
            throw new \InvalidArgumentException('Missing the required parameter $generateUnifiedCheckoutCaptureContextRequest when calling generateUnifiedCheckoutCaptureContext');
        }
        // parse inputs
        $resourcePath = "/up/v1/capture-contexts";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/jwt']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json;charset=utf-8']);

        // body params
        $_tempBody = null;
        if (isset($generateUnifiedCheckoutCaptureContextRequest)) {
            $_tempBody = $generateUnifiedCheckoutCaptureContextRequest;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        
        // Logging
        self::$logger->debug("Resource : POST $resourcePath");
        if (isset($httpBody)) {
            if ($this->apiClient->merchantConfig->getLogConfiguration()->isMaskingEnabled()) {
                $printHttpBody = \CyberSource\Utilities\Helpers\DataMasker::maskData($httpBody);
            } else {
                $printHttpBody = $httpBody;
            }
            
            self::$logger->debug("Body Parameter :\n" . $printHttpBody); 
        }

        self::$logger->debug("Return Type : null");
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/up/v1/capture-contexts'
            );
            
            self::$logger->debug("Response Headers :\n" . \CyberSource\Utilities\Helpers\ListHelper::toString($httpHeader));

            return [$response, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\CyberSource\Model\InlineResponse4004', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            self::$logger->error("ApiException : $e");
            throw $e;
        }
    }
}
